[2017-01-05 14:56] afxgroup opened #2244 "unsubscribe() reconnect again"
I have a strange problem. When i call unsubscribe() from javascript the server receive correctly the disconnect event:

	@Disconnect
	public void onDisconnect(AtmosphereResourceEvent event)

But then i receive again another connect. So it seems it is not possible to unsubscribe from the channel without getting an onReconnect again. I don't want to reconnect the channel after unsubscribe() method.

[2017-01-05 18:30] jfarcand commented on #2242
@Artur- Might want to enable jsr356 by default to avoid all those problem with Jetty-keep-changing-public-api

[2017-01-17 15:22] kalos9173 commented on #2092
anyone ?

[2017-01-17 18:38] jfarcand commented on #2092
@kalos9173 Stil having with the latest version?

[2017-01-19 02:34] jfarcand commented on #2237
@faustmann Contribution welcomed

[2017-01-19 02:35] jfarcand commented on #2209
Closing as fixed.

[2017-01-19 02:35] #2209 closed

[2017-01-19 02:35] #2199 closed

[2017-01-19 02:36] #2144 closed

[2017-01-19 02:37] #1985 closed

[2017-01-19 02:38] #1947 closed

[2017-01-19 02:38] #2117 closed

[2017-01-19 02:39] #2198 closed

[2017-01-19 02:40] #2186 closed

[2017-01-21 00:36] nkoterba opened #2245 "How to Unit Test @AtmosphereService classes"
Hello -

I've successfully tested my `@WebSocketHandlerService` handlers using this sample code: https://github.com/Atmosphere/atmosphere/blob/master/modules/cpr/src/test/java/org/atmosphere/cpr/WebSocketHandlerTest.java

However, I've been unable to find any references or guidance on how to test `@AtmosphereService` classes, especially when they reference a normal Jersey servlet:

[code]

Does an

[2017-01-21 19:15] sqshq opened #2246 "Does Atmosphere work with the current socket.io version? Examples are outdated by 5 years"
[This examples](https://github.com/Atmosphere/atmosphere-samples/tree/master/extensions-samples/socketio) seems to be abandoned and outdated. socket.io v.0.9.6 is used there, which was released ~ 5 years ago.

I'm wondering does Atmosphere work with current socket.io?

[2017-01-23 14:15] jfarcand commented on #2246
Some work will need to be done...contribution welcomed :-)

[2017-01-23 14:15] #2246 closed

[2017-01-23 21:07] Artur- commented on #2241
Is this a Jetty issue or an Atmosphere issue?

[2017-01-25 02:20] jfarcand commented on #2241
It's more because they have changed (again) their internal API.

[2017-01-25 05:12] Artur- commented on #2241
Wrong issue? This is about JSR356

[2017-02-02 19:39] andrevcf opened #2247 "unexpected response code: 200 only on first connection"
I have a `@ManagedService(path = "/ws/events/{canal: [a-zA-Z][a-zA-Z_0-9]*}", interceptors = { CorsInterceptor.class })` that, only on the first connection on the first browser the server responds with 200 instead of 101.
On every other call the websocket works perfectly! It occurs only when i start the server.
I'm using wildfly 10.0
Is it a bug on wildfly not starting the @ManagedService correctl

[2017-02-03 10:07] chizar opened #2248 "Unable to create org.atmosphere.container.Jetty9AsyncSupportWithWebSocket"
Please add support of the last jetty 9.3.16.v20170120 version.

Jetty guys have removed constructor
`org.eclipse.jetty.websocket.server.WebSocketServerFactory.<init>(Lorg/eclipse/jetty/websocket/api/WebSocketPolicy;)`

so

`atmosphere-runtime-2.2.9  org/atmosphere/container/Jetty9AsyncSupportWithWebSocket.java:107`

`webSocketFactory` = new `WebSocketServerFactory(policy)`

crashes with exception:

[2017-02-03 14:30] jfarcand commented on #2248
Same as #2242

[2017-02-03 14:30] #2248 closed

[2017-02-16 09:43] faustmann commented on #2237
I am sorry. From my current point of view, the export section in the generated manifest file is okay.
It was a false alarm because I used an editor which does not highlight this file and I lost track which packages are exported and which packages are used by the exported packages.

If you also do not see a problem here I would close this issue.

[2017-02-16 16:56] #2237 closed

[2017-02-18 19:14] khauser opened #2249 "NotSerializableException on AtmosphereResourceImpl"
I'm trying to serialize the AtmosphereResource within my Vaadin session but i get the following error stacktrace:
[code]
Here is a showcase project: https://github.com/khauser/vaadin-spring-session-push-showcase

Till now I was not able to get rid of the `NotSerializableException` using a lot of `Serializable`'s in your code (see the feature/MakeItSerializable).
To you have another approach how I

[2017-02-21 18:14] jfarcand commented on #2249
@khauser I guest adding the interface to the `AtmosphereResourceImpl` might do the trick. Just fork the workspace, add it and let me know if that work => do a pull request and I will cut a `2.4.10` with the fix.

[2017-02-21 18:15] jfarcand commented on #2249
One workaround is to serialize the `AtmosphereResouce#uuid` and retrieve the real object using the `AtmosphereResourceFactory`when deserializing

[2017-02-23 11:36] saikiran939 commented on #1987
@jfarcand Sorry for commenting on closed issue, this issue is still not complete. I tested atmosphere on weblogic 10.3.6. I am using AtmosphereRequestImpl.wrap(httpRequest) to convert http request to atmosphere request. AtmosphereRequestImpl has import statements for AsyncContext interface (part of 3.0) and I get class not found exception for java.async.AsyncContext.

[2017-02-24 13:54] maddaliravi opened #2250 "Automatic close of Websocket connections by tomcat"
Hi , i am using gwt web sockets of atmosphere framework on tomcat , we use this for broadcasting a message from server to all clients (browsers) to cascade any important information . so the usage of web socket connection is very minimal and most of the time web socket connection is idle.
I notice that tomcat is closing the web socket connections frequently. Refer to the logs below.

Though the de

[2017-02-24 17:09] khauser commented on #2249
Thanks for your answer. I also thought that it would be just adding the interface. But no it's not.. the dependency graph has it's depth: https://github.com/khauser/vaadin-spring-session-push-showcase/tree/feature/MakeItSerializable/src/main/java/org/atmosphere/cpr

My way of pain was to first (after adding the `Serializable` interface where possible) apply the _atmosphere-spring_ package to have

[2017-02-26 11:29] khauser commented on #2249
I guess serializing the Request or even the AtmosphereResource is a bad idea. Instead the connection should be reestablished and a new AtmosphereResource should be send. I think that way it's also meant in the vaadin code:

     * Reinitializes this PushConnection after deserialization. The connection
     * is initially in disconnected state; the client will handle the
     * reconnecting.
     *

[2017-02-26 11:29] #2249 closed

[2017-03-03 10:31] amrfaissal commented on #2250
I am having the same problem. Any updates on this issue?

[2017-03-08 19:13] Artur- commented on #2057
Does this change intentionally change which servlet is picked if there are multiple mappings or is it by accident? The old code used `...getMappings().iterator().next();`which returns the first match, the new code uses
[code]
i.e. the last match

[2017-03-09 15:20] maddaliravi opened #2251 "WebSocket closed with 1002 Error in tomcat 7.0.35 version"
what is the 10002 error code mean while closing a websocket connection abruptly without providing the proper details of the reason for close.

Tomcat version used is 7.0.35 version and browser is Google Chrome.

[2017-03-09 15:30] maddaliravi opened #2252 "make websocket connection alive for a long time with out any activity ?"
How to make a web socket connection alive for a long time without any activity (for ex: few hours)... but connection should be alive.

Tomcat version : 7.0.35 and Browser : Google Chrome.

[2017-03-09 17:11] saikiran939 commented on #2251
any stacktrace ?

[2017-03-09 17:26] saikiran939 commented on #2250
if you are using IdleResourceInterceptor did you try increasing ApplicationConfig.MAX_INACTIVE ?

Does this 'maxIdleTime' have impact on tomcat to close web socket connections ?
Answer: Same as this: http://docs.oracle.com/javaee/7/api/javax/websocket/Session.html#setMaxIdleTimeout-long-

-> In the hear beat interceptor , what happens if i turn off server heart beat (disable) and turn on client he

[2017-03-09 19:47] maddaliravi commented on #2251
There is no exception as such.

I see this  .....TomcatWebSocketHandler: onClose 1002 ... in the TRACE logs.

[2017-03-09 19:58] maddaliravi commented on #2250
Hi sai , thank you for the reply.

I am keeping default interceptors that comes with Atmosphere ... so IdleResourceInterceptor will be active in my application.

but how is this MAX_INACTIVE is different from maxIdleTime parameter ?

As i mentioned earlier , my requirement is to use the web-socket for broadcasting important alerts to all clients or browsers from server... so mostly the web-socket

[2017-03-11 08:25] Nadia1989 opened #2253 "Getting responseBody as "X""
No matter what message is being broadcasted by the broadcaster, the client is always receiving X. Any help will be appreciated.

{"status":200,"reasonPhrase":"OK","responseBody":"X","messages":["X"],"headers":[],"state":"messageReceived","transport":"websocket","error":null,"request":{"timeout":300000,"method":"GET","headers":{},"contentType":"application/json","callback":null,"url":"http://100.10

[2017-03-14 06:22] maddaliravi commented on #2253
Hi ,

I am also a user  of this project. you get the message 'X' due to heartbeat Interceptor class that does server side broadcast to all clients .. probably every 30/60 seconds. you can check this class  'heartbeat Interceptor' for more details.

this heartbeat is to ensure web socket connection will be alive for a long period and to avoid closing those connections by proxy servers (they might c

[2017-03-14 11:02] maddaliravi commented on #2251
'maxIdleTime' value is causing the tomcat to close the websocket after the time has reached. currently we set it to 30 minutes... but we plan to increase it to 8 to 9 hours to avoid closing the connections frequently as our application use the websocket very rarely.

[2017-03-14 11:02] #2251 closed

[2017-03-14 14:07] maddaliravi commented on #2252
we find to set 'maxIdleTime' attribute to a very high value ... say 8 or 9 hours.

[2017-03-14 14:07] #2252 closed

[2017-03-14 14:08] maddaliravi commented on #2250
we find that to set 'maxIdleTime' attribute of atmosphere framework to a very high value ..lets say.. equivalent of 8 to 9 hours.

[2017-03-14 14:08] #2250 closed

[2017-03-15 05:01] Nadia1989 commented on #2253
Thanks a lot for the response.

[2017-03-15 05:19] #2253 closed

[2017-03-15 05:28] Nadia1989 opened #2254 "BroadcasterFactory not broadcasting message to client"
Doubt : broadcasterFactory.get(userId).broadcast(15); is not invoking getMessage() on client side.
Any response will be appreciated.

Java code for atmosphere handler
---------------------------------------

import java.io.IOException;
import javax.inject.Inject;
import org.atmosphere.config.service.AtmosphereHandlerService;
import org.atmosphere.cpr.AtmosphereHandler;
import org.atmosphere.cpr.At

[2017-03-15 12:02] anuraggupta opened #2255 "Unable to configure jsr356 at that stage. ServerContainer is null"
Hey guys,

I'm getting this error while starting my application.

My current configuration

- Tomcat 8.0.35
- Application: CXF + Spring + Atmosphere (CXF servlet is configured to boot spring and a CXF JAXRS Server is configured to use websocket transport which in turn invokes Atmosphere Framework)
- Atmosphere 2.4.9

I have tried suppressing JSR356 detection by adding the following init param to C

[2017-03-15 15:10] blaisezzz opened #2256 "Would I be able to use python flask socket io in the backend"
Hi,

I am exploring the possibility of integrating **Flask Socket IO** (https://github.com/miguelgrinberg/Flask-SocketIO) in the back-end with **atmosphere js** in the front-end. I am a new developer when it comes to Atmosphere JS, so I am uncertain if it is technically possible to integrate the two together. Looking it online haven't return any relevant results to help me move forward. Can I some

[2017-03-20 16:57] jfarcand commented on #2256
Use https://groups.google.com/group/atmosphere-framework?pli=1 for question

[2017-03-20 16:57] #2256 closed

[2017-03-22 08:16] hendrikebbers opened #2261 "Make shiro an optional dependency"
As far as I can see Apache shiro is only used in one class to provide security / shiro support. Without this dependency the core runtime would only depend on really common frameworks & JSRs. I think it would be a great benefit to provide the shiro support as an optional feature. This could be done by adding a shire-module to the project that contains the ShiroInterceptor.java. This can be loaded a

[2017-03-27 12:00] Nadia1989 commented on #2254
Please help if anyone has faced this issue.

[2017-04-02 10:10] bodtx commented on #1849
Same problem here with
* tomcat 8
* <atmosphere-version>2.5.0-SNAPSHOT</atmosphere-version>
* <gwt-version>2.5.1</gwt-version>

[2017-04-03 09:49] ikeforward opened #2262 "Concurrency issue of UUIDBroadcasterCache"
Hello,

I am using atmosphere-runtime 2.4.9.

I am simulating to broadcast a massive amount of messages within a short time to test the stability. When long-polling protocol is used, even with UUIDBroadcasterCache, some messages are incorrectly cached.

I debug the source code, I've found something interesting (tell me if I am wrong):
- When a broadcaster broadcasts a message, a new thread is crea

[2017-04-03 10:33] maddaliravi opened #2263 "How to get Reference to Broadcastor Object"
How can i get access to Broadcaster object in a specific object.

Point is that , i get a message in a JMS listener.. once i receive the message in JMS listener class, i should be able to broadcast it to all clients/web sockets of a broadcastor. how can i get a reference to that broadcastor ?

[2017-04-04 00:29] jfarcand commented on #2262
@ikeforward Can you do a pull request with your change? I will cut 2.4.10 just for you :-)

[2017-04-04 02:51] ssullivan commented on #2262
@ikeforward Out of curiosity... Did you test just making the fields volatile and not using synchronized on those methods?

[2017-04-04 07:22] ikeforward commented on #2262
@ssullivan Hi, just tested, with this configuration, it is much better and faster than synchronized, but there are still some messages incorrectly cached.
I am broadcasting ids, one id per message. In this test, I see some messages contain multiple ids, for example, "642, 643, 644, 645, 646, 647".

[2017-04-04 07:36] thabach commented on #2262
@ikeforward Could u please share your test code with us ?

[2017-04-04 07:43] ikeforward commented on #2262
@jfarcand Hi, thanks for doing it, really appreciated.
@thabach I didn't do anything special, just followed the documentations: subscribe in js, implement AtmosphereHandler and broadcast message through broadcaster. But if you want, I can create a test code for u.

**I just noticed another point**: I am broadcasting ids, one id per message. Sometimes, I broadcast an id (for example "1"), but the m

[2017-04-04 08:59] thabach commented on #2262
@ikeforward please do so.

[2017-04-04 09:01] thabach commented on #2262
@ikeforward both version, with locks and without (i.e.the volatiles version) - thx.

[2017-04-04 11:26] saikiran939 commented on #2262
adding volatile to message concurrent map will help us ? messages map is already constructed in object creation itself therefore all the threads see the same object but whether the content in the object is visible to other threads or not is a different question. how do you come up that messages are incorrectly cached ? cached here means the messages are not yet delivered and are residing in cache

[2017-04-04 14:51] jfarcand commented on #2262
@ikeforward receiving `[]` is expected, it's from the cache and Atmosphere sent them in array instead of one per write

[2017-04-05 11:51] saikiran939 commented on #2263
You should be able to get from BroadcasterFactory.lookup() method.

[2017-04-05 12:50] ikeforward commented on #2262
@saikiran939 Hi, indeed all the threads access the same ConcurrentHashMap object, however, if it is not volatiled, which means the modification is first cached(or saved) thread-locally, then the modification goes to the "main memory", at this moment, other threads can read the modified value, but we have no control on the second step. On the contrary, if it is volatiled, the value of the variable

[2017-04-05 13:42] thabach commented on #2262
@ikeforward actually, the [Concurrent Collections](https://docs.oracle.com/javase/tutorial/essential/concurrency/collections.html) do inherently guarantee the happens-before relationship and from that perspective the collection (i.e. the reference to the collection) does not need to be marked `volatile`. In this case volatile only guarantees visibility of the actual reference (between threads), wh

[2017-04-05 14:55] ikeforward commented on #2262
@thabach Indeed, I was wrong, here volatile only acts on the reference to the collection, which doesn't make too much sense.

I will create a test code as soon as I can. Is there a place I can upload the code?

[2017-04-05 15:38] #2263 closed

[2017-04-05 15:39] jfarcand commented on #2262
@ikeforward Create a github repo or just gist your code. Thanks!

[2017-04-06 13:08] ikeforward commented on #2262
@jfarcand @thabach Hi , here is the test code:

**web.xml:**
    <servlet>
        <description>AtmosphereServlet</description>
        <servlet-name>AtmosphereServlet</servlet-name>
        <servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
        <init-param>
            <param-name>org.atmosphere.cpr.packages</param-name>
            <param-value>path.to.the.atmosphere.handler

[2017-04-06 23:03] jwcarman opened #2264 "Losing Messages Under Load Using WebSockets..."
We are using Atmosphere 2.4.9 inside a Jetty 8.1.19.v20160209 server (the default one that comes with Karaf).  We also witnessed the behavior using Nettosphere 2.4.10, however.  We have an interesting scenario where we're posting messages to a JAX-RS-based service elsewhere that publishes the messages to an ActiveMQ topic, which is listened to by all of our Atmosphere nodes using a Camel route whi

[2017-04-07 08:20] ikeforward commented on #2262
@jfarcand @thabach Hi, a stupid question, how to do a pull request? It seems I have to choose a base branch and a head branch, and do a comparison?

[2017-04-07 09:15] seamusmac commented on #2262
@ikeforward  Easiest is probably to click the "Fork" button on the top right of the project page: https://github.com/Atmosphere/atmosphere
and then make changes in your fork, and commit.
You can make a pull request from that fork.

eg see the "New pull request" button in image in my fork.
![image](https://cloud.githubusercontent.com/assets/43647/24793708/f8ee4144-1b7a-11e7-96fb-745b3b8b13a8.png)

[2017-04-07 12:08] ikeforward commented on #2262
@jfarcand @seamusmac Done. The pull request is https://github.com/ikeforward/atmosphere/pull/1

[2017-04-07 12:29] jfarcand commented on #2262
@ikeforward The pull request needs to be on this project, not your :-)

Also can you put your test in Github with a proper pom.xml so we just need  to run it in order to reproduce? That will help getting a fix for the issue. Thanks

[2017-04-07 12:32] jfarcand commented on #2264
@jwcarman We will need a way to reproduce your issue...best way would be to create a Github project we can close an run to reproduce it. If you can't, you may need to buy some support from http://async-io.org/

Also it seems your messages are getting lost because they expires...have you properly configured the timeout for the `UUIDBroadcasterCache`

[2017-04-07 12:41] jwcarman commented on #2264
@jfarcand I am actually working on a small sample project right now.  I have not changed UUIDBROADCASTERCACHE_CLIENT_IDLETIME nor UUIDBROADCASTERCACHE_IDLE_CACHE_INTERVAL.  I left them as the defaults.   The behavior that we're seeing is that messages are lost during the first 15 seconds of our test run.  Neither of those timeouts are less than 15 seconds.  Our Gatling test does the following:

-

[2017-04-07 15:29] ikeforward commented on #2262
@jfarcand Hi, I investigated a little more, and found something new, maybe it is not a bug from Atmosphere, but my mistake.....
Before, I said when broadcasting a massive number of messages within a short time, we broadcast one id per message, sometimes the received message is the single id, sometimes the received message is enclosed with [], not only enclosed with one id, sometimes with multiple

[2017-04-11 14:43] andrevcf commented on #2247
any info on this?

[2017-04-12 11:45] saikiran939 commented on #2262
@ikeforward why not transfer data in JSON ?

[2017-04-12 12:10] saikiran939 commented on #2264
@jwcarman the role of UUIDBroadcasterCache would be less in case of websockets because the connection is always available and the message is sent almost instantly to client.

Is this happening only in performance test or did you try it manually and firing bulk messages from some other client and see if it is the same behavior ?

[2017-04-12 15:27] jwcarman commented on #2264
At this point, I am thinking it might be something to do with my test, honestly.  If I send 10,000 message through to one client in a browser and have the JS count up how many it receives, it always gets the messages, no matter what transport I use.  I am going to close this for now.  Thank you for your help and I apologize for the noise :)  Great framework, by the way.  Thanks for your hard work!

[2017-04-12 15:27] #2264 closed

[2017-04-13 07:16] ikeforward commented on #2262
@saikiran939

Is there a way in Atmosphere to broadcast data in json format? Or I have to manually convert the data to json format?

I am using broadcaster to broadcast message.

[2017-04-13 11:10] saikiran939 commented on #2262
broadcast method takes object as parameter, so you will have to form JSON data you can create JSON data. For example you can use [http://docs.oracle.com/javaee/7/api/javax/json/JsonObject.html](url) to create JSON data.

`org.atmosphere.cpr.DefaultBroadcaster.broadcast(Object)`

[2017-04-13 11:12] saikiran939 commented on #2261
It would be really nice. Could you please share the changes without doing a PR - I mean by forking it and share the commit here ? Till @jfarcand gives green signal others can learn from it.

[2017-04-13 15:24] jfarcand commented on #2261
@hendrikebbers @saikiran939 +1 this is a great idea that could be added to next `2.4.x` release

[2017-04-13 15:30] hendrikebbers commented on #2261
Perfect :) I will work on this next week

[2017-04-13 15:31] hendrikebbers commented on #2261
But why should I add the change here? Everyone can see the PR and this can simple be changed if something is wrong.

[2017-04-13 17:08] jfarcand commented on #2261
+1

[2017-04-13 18:20] saikiran939 commented on #2234
I can do this.

[2017-04-14 20:03] jwcarman commented on #2264
@jfarcand we are still having troubles.  We don't know if it's Gatling or the way we've set things up.  I've created this "gist" of the output from our server:

https://gist.github.com/jwcarman/8137d4d4f648ed706b2b8b44acd7a335

Is there anything glaring in this setup?

[2017-04-15 08:35] thabach commented on #2264
@jwcarman could you please wrap up a sample that reproduces the issue, so we can have an "educated" look ?

[2017-04-17 04:30] BHunter2889 opened #2266 "Licensing restrictions?"
Sorry if this has been answered but I'm new to this framework and I'm just wondering if I use atmosphere for a commercial project, does it require that I publish any of my code that implements it? I've not had a thorough legal education on open source licenses...

[2017-04-30 12:44] trivore-kari commented on #2241
Artur, we (too) have triaged this, and Jetty really has changed their api in dotdot release and that breaks Atmosphere and then Vaadin.

[2017-05-02 23:25] mangalasan opened #2267 "UUIBroadCasterCache not working Jersey API Atmosphere implementation"
Mentioned the broadcaster cache  class in Web.xml and pushing messages using Java URL connection.
How to set transport in Java url connection.
Invoked the subscribe request using js file and set the transport as long polling.
Atmosphere resource generated for subscribe and publish does not have same uuid  and cache is not working.Only first message gets broadcasted.

[2017-05-05 13:45] xdenser opened #2268 "How to send data with first hand shake request with long polling transport."
I need to send some first message as soon as Atmosphere.JS client is connected to the server.
 transport is 'long-polling', all settings are default.

Initially I was using onOpen event to push first message.
Everything was ok until I stumbled on the setup where the server was under strange load balancer (IIS).
The problem there is that loadbalancer sends response as a whole. I.e. first long polli

[2017-05-10 20:27] zortx233 commented on #2084
Confirmed this is still an issue with 2.4.9 + Payara 4.1.1.164 + PrimeFaces 6.1

[2017-05-11 17:23] mangalasan opened #2269 "atmosphere jars required for weblogic server"
Let me know the atmosphere jars required for weblogic server.

[2017-05-16 12:39] jfarcand commented on #2242
Fixed by #2270

[2017-05-16 12:39] #2242 closed

[2017-05-16 12:40] jfarcand commented on #2241
Should be fixed by by #2270

[2017-05-16 18:25] Artur- commented on #2241
Still the same problem with #2270 (#2270 fixes Jetty 9.3.15 compatibility but not 9.4 it seems)

[2017-05-16 19:30] Artur- commented on #2241
The problem comes from
[code]
at https://github.com/Atmosphere/atmosphere/blob/master/modules/runtime/src/main/java/org/atmosphere/container/JSR356Endpoint.java#L219

where `handshakeRequest.getHttpSession()` returns null with Jetty 9.4.x and the HTTP session with Jetty 9.3.x and earlier

[2017-05-17 05:29] Artur- commented on #2241
Maybe @joakime could comment if this is a Jetty or Atmosphere problem

[2017-05-17 05:37] kiddyu opened #2271 "How to use more than one @ManagedService"
I tried to use more than one ManagedServices, but when I added two url-pattern in web.xml, I always get "Unexpected response code: 200" error. Can atmosphere maintain more than one managed services?

[2017-05-17 14:00] joakime commented on #2241
@trivore-kari  know that jetty versioning is `<servlet_support>.<major>.<minor>` (been this way since 1996)

Per spec, the HttpServletRequest, HttpServletResponse, HttpSession, and all things that are part of the HTTP phase of the WebSocket are recycled once the HTTP Upgrade is complete (when the HTTP Upgrade Handshake completed, you are no longer HTTP, you are whatever protocol that upgrade resul

[2017-05-17 15:05] trivore-kari commented on #2241
@joakime, thank you for that info on version numbering. Very logical, actually. News to me. My bad, I did not research this. (And thanks for Jetty, our developers love it :-)

[2017-05-17 18:43] Artur- commented on #2241
Thanks for the detailed answer. Atmosphere does indeed keep a reference to the handshake request until `EndPoint.onOpen` is triggered. This seems to be avoidable by instead storing the needed parts of the request (some headers and the session reference). Not sure how "safe" this is but it seems to work also for Jetty 9.4 at least in the Vaadin case

[2017-05-17 19:31] jfarcand commented on #2241
Thanks @Artur- and big @joakime for the explanation (maybe I should follow more jsr356 spec list :)).

Included in `2.4.12`

[2017-05-17 19:31] #2241 closed

[2017-05-18 11:44] afxgroup opened #2272 "Error 501 on tomcat 8"
Hello,
i've configured a new server with tomcat 8. On production there is tomcat 7 that has working web sockets.
In this new machine i'm having an error 501 when the client trying to open the web socket.

On the server side when the tomcat starts i have no error at all (on tomcat 7 i have one error..) and it is the web socket related log
`org.atmosphere.cpr.AtmosphereFramework   : Using EndpointMa

[2017-05-24 00:59] jpinpin opened #2273 "After disconnect, heartbeat has a null websocket leading to "No suspended connection available" error"
I've implemented a JavaScript application-layer reconnect mechanism, however, after my reconnect is completed, I'm getting the "No suspended connection available" error message when heartbeats are being sent. Upon inspection, the heartbeat websocket is null due to the disconnect. Is there a way to reset the heartbeat websocket? This occurs in Firefox 53.0.3 but not in Chrome 58.0.3.

[2017-05-31 10:50] Yosheng opened #2274 "Exception during suspend() operation java.lang.NullPointerException"
When I startup sample for spring boot chat room, everything is fine. I try to create multiple chat room with spring boot. I refer the sample code and try to combine it. Finally I got those message....

Error Message
`2017-05-31 18:42:36.978  INFO 10992 --- [nio-8080-exec-8] com.question.ChatService                 : Browser 80c6aa77-120e-4389-9de2-3730fa62fd87 connected.
2017-05-31 18:42:36.980  W

[2017-05-31 11:54] paulauskas96 commented on #2254
Hello,
seems familiar to me :).

The problem seems to be identified at #2236 . Found no proper fix, however, as what I had tried to commit (#2243) seems not to be a good practice and the Serializer needs to be set on the Broadcaster.

[2017-06-02 21:07] jpinpin commented on #2273
In _push(message), could we add an attempt to re-establish _websocket (if it is null) using _executeWebSocket(webSocketOpened) before failing?

[2017-06-03 13:02] jfarcand commented on #2273
@jpinpin Contribution welcomed!

[2017-06-07 09:11] ecamaj commented on #2148
When I use SocketIOAtmosphereInterceptor I get protocol error and it is connected with SocketIO client that I guess changed request URL at some point - I see that it is now with get parameters like: "socket.io/?EIO=3&transport=polling&t=Lo1c-Q5" and I also see on web that there is version with slashes in url like: "socket.io/1/websocket" and SocketIOAtmosphereInterceptor expects slashes which are

[2017-06-12 12:59] vineet-verma opened #2276 "Connection get closed if server idle for 5 minutes and not reconnect"
I am using latest version of Atmosphere 2.0
Getting problem as If server  remains idle for 5 minutes then connection get lost from server , then No message can be sent to UI.
In normal application we can not keep server busy to not be idle. it will send message when required.

Server connection to UI Client should net get lost until browser or session expired.
Problem is same in all transport prot

[2017-06-14 05:42] vineet-verma commented on #2276
i found one solution for it.. Atmosphere works on Heartbeat principal.
for my local heartbeatIntercepter sending data on time but on openshift server heartbeat is getting missed by the client  as client send reconnect request to server early, before server send heart beat to client So client never gets the server heartbeat this way and think that server is not alive
So decreasing server Heartbeat

[2017-06-14 05:43] #2276 closed

[2017-06-15 06:10] vineet-verma commented on #1095
attachHeadersAsQueryString:false drops the custom header from query param string but neither custom header come in request header section in network call nor received at server end in request. I can not get the custom header anyway at server end. I also used (dropHeaders:false) but did not work.
 url: "http://channelurl,
					transport: 'sse',
						enableXDR:true,
						attachHeadersAsQueryString

[2017-06-27 17:23] zanzan23 opened #2277 "ConcurrentModificationException in org.atmosphere.cpr.AtmosphereRequestImpl.getAttributeNames"
Hi, I’m facing with a problem using Atmosphere 2.4.8 with GWT (extensions version 2.4.3) on wildfly 10.1.0 that seems to be a duplicate of https://github.com/Atmosphere/atmosphere/issues/2062. It happens randomly and I was not able to reproduce it easily.
BTW looking at the code of the class AtmosphereRequestImpl I found out that the methods removeAttribute and getAttributeNames can start from dif

[2017-06-28 05:15] jfarcand commented on #2277
@zanzan23 That's an issue. Pull request welcomed :-)

[2017-06-29 08:40] zanzan23 commented on #2277
Ok, I'll do it. :-)

[2017-06-29 08:41] saikiran939 commented on #2277
Here `org.atmosphere.cpr.AtmosphereRequestImpl.Builder.localAttributes` operates on ConcurrentHashMap so exception should not have originated from here.

Exception should have happened from here but I'm not really sure `b.request.removeAttribute(name);`

[2017-06-29 09:20] zanzan23 commented on #2277
The exception is not from localAttributes but from Collections.list(b.request.getAttributeNames())
invoked from one thread while another thread executes b.request.removeAttribute(name);

[2017-06-29 10:04] saikiran939 commented on #2277
Thanks for clarifying, I could not understand fully from the above stacktraces.

[2017-07-06 19:54] mdekrey commented on #1911
We're considering adopting Atmosphere as a Java abstraction over websockets with fallback to long-polling/streaming, but noticed that [it's been marked for removal in this document.](https://github.com/Atmosphere/atmosphere/blob/master/ROADMAP_TO_3.0.0.md) Is that still accurate?

We've found that certain corporate networks still block web-sockets but allow for long-polling, and so this is a must-

[2017-07-10 16:55] mdekrey commented on #1911
Noticed that this post is really old, but got [a reply over in the google groups,](https://groups.google.com/d/msg/atmosphere-framework/6naFmglO-Bs/3l7sZR4oAwAJ) in case anyone else is concerned about the same issue.

[2017-07-11 00:18] jfarcand opened #2278 "Remove unnecessary call to BroadcasterFactory in DefaultAtmosphereResourceFactory which breaks Broadcaster's configuration"
...in some complex environment.

[2017-07-11 00:27] #2278 closed

[2017-07-15 07:16] thomasreiser commented on #2266
Check the license included to the repository. You can use it for commercial applications but afaik you need to deliver the sources of the CDDL licensed within your project Installation.

Please check the license text for credible details as I am not a lawyer.

[2017-07-19 00:10] arastoob opened #2279 "Problem with @ManagedService"
Hi all,
I'm new in Atmosphere and I want to integrate Atmosphere with Spring. I followed the famous example of Atmosphere, chat, and I did all the steps. I implemented a ManagedService in my project. The only difference with my project and the samples is in its configuration. I configure my project with a Java class instead of xml. My configuration class is as follows:

`public class SpringWebAppI

[2017-07-21 14:58] Bkeliikoa opened #2281 "Dynamic path endpoint mapping hierarchy"
Currently using version 2.4.0

We have currently setup a Dynamic path under PrimeFaces which extends Atmosphere DefaultEndpointMapper while still using the DefaultEndpointMapper map(AtmosphereRequest req, Map<String, U> handlers) method.  This Mapper does not properly function with Dynamic endpoints once the base dynamic endpoint has been created.

Example...
Dynamic endpoint set as "/session/#{us

[2017-07-26 13:23] keltik85 opened #2282 "client-side `onMessage` never called"
Why is my client-side javascript `request.onMessage` never called? I am using **Atmosphere** inside a **Spring Boot** Application configured by Springs-Annotations.

This is my Spring Bean configuration:

[code]

This is my `@ManagedService` class:

[code]

This is my `index.html`:

[code]

Finally my `application.js`:

[code]

I have tried annotating with `@Suspend`, `@Resume` and some other eith

[2017-07-27 18:53] hieplq opened #2283 "Failed toString() invocation on an object of type [org.atmosphere.container.Jetty9AsyncSupportWithWebSocket$1]"
on console I got bellow error message (but program still work well)
"SLF4J: Failed toString() invocation on an object of type [org.atmosphere.container.Jetty9AsyncSupportWithWebSocket$1]"
not sure by jetty or Atmosphere

my environment:
    osig equinox embed jetty 9.4.6.v20170531
    Atmosphere 2.4.13
    issue just happen when log level from "fine"

full log bellow:

01:39:26.379 AtmosphereFrame

[2017-08-03 13:13] redpacifier commented on #2282
I just saw this question on stackoverflow that will likely address your problem. Looks like it is caused by your use of "trackMessageLength" without using the TrackMessageLengthInterceptor. https://stackoverflow.com/a/19526230/3586783

[2017-08-03 13:18] redpacifier commented on #2254
Seems similar issue reported at #2282 - I just saw this question on stackoverflow that will likely address your problem. Looks like it is caused by your use of "trackMessageLength" without using the TrackMessageLengthInterceptor. https://stackoverflow.com/a/19526230/3586783

[2017-08-03 13:19] keltik85 commented on #2282
Actually, onMessage was never fired because I didnt add `subSocket.push(xxxx);` into my client side code anywhere.... , this issue can be closed

[2017-08-04 20:58] damgel opened #2285 "Broken links in documentation."
Hi, all the links to source code samples are broken on this pages:
https://github.com/Atmosphere/atmosphere/wiki/Getting-Started-with-Socket.IO
https://github.com/Atmosphere/atmosphere/wiki/Getting-started-with-HTML5-Server-Sent-Events-%28SSE%29

[2017-08-04 22:02] kylejmcintyre commented on #2186
This issue seems pretty significant. Any chance of backporting the fix into 2.4.x and doing a release?

Thanks,
Kyle

[2017-08-04 23:37] kylejmcintyre commented on #2272
Did you ever get to the bottom of this?

[2017-08-05 07:08] afxgroup commented on #2272
Nope.. i need to use Tomcat 7 to have no errors. With tomcat 8 i never succeded to use websockets

[2017-08-05 19:45] jfarcand commented on #2186
@kylejmcintyre 2.4.14 released.

[2017-08-07 18:29] kylejmcintyre opened #2286 "Jetty Websocket support broken in 2.4.x for Jetty < 9.4"
https://github.com/Atmosphere/atmosphere/commit/9fd3d45c01b0c52d57ddfb6664eb6bb67c072410

The above changes made it so that both Jetty9AsyncSupportWithWebSocket and Jetty93AsyncSupportWithWebSocket rely on a constructor on WebSocketServerFactory that doesn't appear to be available until Jetty 9.4. @shanielh - any chance you can fix?

[2017-08-08 05:17] shanielh commented on #2286
Hey, I'm sorry, I guess the only change that needs to be done is in [`modules/cpr/src/main/java/org/atmosphere/container/Jetty9AsyncSupportWithWebSocket.java:45`](https://github.com/Atmosphere/atmosphere/commit/9fd3d45c01b0c52d57ddfb6664eb6bb67c072410#diff-2901051e3e16a93a323ee0aa9cd4e9f4R45) - to remove the first argument to the c'tor. Can you create a pull request?

[2017-08-08 05:22] kylejmcintyre commented on #2286
I'm still confused actually because your commit says you added support for Jetty 9.3, but actually it seems like you added support for Jetty 9.4? Do we need to rename Jetty93AsyncSupport...?

[2017-08-08 05:39] shanielh commented on #2286
@kylejmcintyre I'm pretty sure this C'tor was supported in Jetty 9.3, I guess that it was in some minor fix in Jetty 9.3

[2017-08-09 11:29] jfarcand commented on #2286
@shanielh If you have the cycle, do me a favor and resend a pull request with the fix. Thanks!

[2017-08-17 09:01] norzak opened #2288 "[Question] can session be read from url instead of cookie?"
If the client blocks the cookies, will url rewriting work with the atmosphere?

[2017-08-17 09:03] norzak commented on #2288
Never mind, I do not think it will work

[2017-08-17 10:19] norzak commented on #2288
Reopening it, can we do this?

[2017-08-17 14:46] melloware opened #2289 "AnnotationHandler's not found in JSR 315: web-fragment JAR"
This issue was reported in PrimeFaces: https://github.com/primefaces/primefaces/issues/82

For those unfamiliar with Web Fragments a nice explanation here:  https://blogs.oracle.com/swchan/servlet-30-web-fragmentxml

I have traced the issue to the fact that in AtmosphereFramework.java it is only scanning in /WEB-INF/classes.

[code]
So it will never find @PushEndpoints stored in Web Fragment JARS

[2017-08-23 14:23] SoftMadHatter opened #2290 "Memory leak in DefaultBroadcaster due to usage of ConcurrentLinkedQueue"
It seems there is an issue in ConcurrentLinkedQueue in jdk <1.8u102 that can cause an OutOfMemoryError (.remove(object) keeps the node with null item).

The resources field of DefaultBroadcaster uses a ConcurrentLinkedQueue, so when a lot of resources are  on the same broadcaster it causes an OutOfMemoryError.
(in my case ~46 000 000 empty nodes corresponding to the "removed" resources)

Is it pos

[2017-08-25 01:55] jeanse7en commented on #1624
Hello,
How can you solve it?

[2017-08-28 08:55] pkletsko opened #2291 "Camel Spring Boot Atmosphere Websocket problem with AsyncSupport"
Hi,

I am trying to create a simple example for our small community with combination of Camel+Spring Boot+Atmosphere Websocket and it doesn't work.

Link to the example:
https://github.com/pkletsko/spring-boot-camel-atmosphere-websocket

Link to the Issue:
https://github.com/pkletsko/spring-boot-camel-atmosphere-websocket/issues/1

WBR,
Pavlo

[2017-08-30 13:29] pkletsko commented on #2291
I have fixed this issue .
Camel component has been updated.

https://issues.apache.org/jira/browse/CAMEL-11725

Thus after release of camel 2.19.3 should work.

[2017-08-30 13:29] #2291 closed

[2017-08-30 14:49] jfarcand commented on #2291
@pkletsko Just for your information, there where no change in initialization. What makes you thinks that?

[2017-09-21 08:10] daocaorenbao opened #2292 "No AtmosphereHandler found. Make sure you define it inside WEB-INF/atmosphere.xml or annotate using @___Service"
No AtmosphereHandler found. Make sure you define it inside WEB-INF/atmosphere.xml or annotate using @___Service

[2017-09-21 08:18] daocaorenbao commented on #1421
How do you resolve the exception

[2017-09-22 23:45] dparasam commented on #2084
I'm seeing this issue too - Glassfish 4.1 (with Mojarra 2.2.7), PrimeFaces 6.0.  Are there any work-arounds, other than restarting Glassfish?  Any ETA for the fix?

[2017-09-22 23:51] rasenderhase commented on #2148
I have got the same problem. SocketIOAtmosphereInterceptor.inspect() always complains "not a SocketIO client". It's searching for slashes in the pathInfo String. But pathInfo is always "/".

[2017-09-26 11:02] jacobilsoe opened #2293 "Memory leak after shutdown of Atmosphere"
I am currently using Atmosphere 2.3.8 in an application deployed in WildFly 10.1.0.Final. When I undeploy my application, it seems Atmosphere is leaking memory. I have investigated a bit and I can make the leaks go away if I extend `org.atmosphere.cpr.AtmosphereFramework.destroy` to also call `Runtime.getRuntime().removeShutdownHook(shutdownHook);`, null the fields in `org.atmosphere.cpr.Universe`

[2017-09-26 13:59] jfarcand commented on #2293
@jacobilsoe Pull request welcome! Once done I can cut a new release for your team.

[2017-10-12 05:46] amirGhasemi opened #2294 "IllegalStateException when using filters in streaming transport"
I am using Jetty 9.4 + Shiro + Atmosphere in my application. When using servlet filters with websocket everything  seems OK, but when I switch to streaming I get the following exception:

[code]

This is the configuration for my pusher:

[code]

What exactly is illegal in my application?

[2017-10-13 12:52] keltik85 opened #2295 "Spring Boot: org.atmosphere.cpr.AtmosphereMappingException"
I get this **exception** (only when running the **packaged, executable war** file -running the `@SpringBootApplication` in the **Eclipse IDE** works fine-):

[code]

---
---

**But this is not true**. I have annotated the relevant class. This is my `@ManagedService` class:
[code]

This is my Configuration:

[code]

This is my pom.xml (some parts truncated):

[code]

The log when running from the w

[2017-10-19 11:01] #2295 closed

[2017-10-19 11:01] keltik85 commented on #2295
found a solution: https://stackoverflow.com/questions/46767772/org-atmosphere-cpr-atmospheremappingexception-in-spring-boot-executable-war-file

[2017-10-19 11:01] #2282 closed

[2017-10-24 15:31] vbarrier opened #2296 "Mess up between websocket and http requests"
Hi @jfarcand!

We still use atmosphere and awe are pretty happy with it :) but (if not I will not raise an issue :)) we do have a problems since we now use atmosphere 2.4.13 with tomcat 8.0.47 and http-apr-connector.

It seems that tomcat mix between websocket and http request. We see on screens with : 1|X which are normally handled by atmosphere.js as it's an heartbeat message

Is it an known iss

[2017-10-26 01:54] rvowles commented on #1783
@jfarcand this is causing Jetty 4 v20170914 to explode under Chrome. Jetty is allowing two headers - an Upgrade: "" and Upgrade: "WebSocket" (and Server: "" and Server: "Jetty v....") which is making Chrome fail because of two headers.

Jetty expects this to be passed as null (thus unsetting it). I have had to add a response delegate to remove the header. It appears to be a Jetty bug.

[2017-10-27 10:18] hustleone opened #2297 "Use http connection on IBM WebShpere 9"
Hello!

We have vaadin 7.6.3 web application which is building by jdk6 and deploying to IBM WAS 8 jdk 6, javax webSocket v.3.
Our goal is to use http connection with client, so we have 'org.atmosphere.usewebsocketandservlet3 = false' at our web.xml

.war file contains: atmosphere-runtime-2.2.7.vaadin1.jar

We'd like to move to jdk 8.121 and IBM WAS 9 jdk 8 (javax webSocket v.3.1), but while testin

[2017-11-02 12:10] jfarcand commented on #2297
Vaadin uses a fork of Atmosphere...use their forum for such question

[2017-11-02 12:10] #2297 closed

[2017-11-08 03:33] salviof commented on #1624
+

[2017-11-08 03:40] salviof commented on #1349
Maybe Atmosphere  should use The Reflection API tools from apache:
The easy mode:
  List<Class> lista = new ArrayList<>();
   Reflections reflections = new Reflections("pakage");
    Set<Class<?>> annotated = reflections.getTypesAnnotatedWith(anotation.class);

       <dependency>
            <groupId>org.reflections</groupId>
            <artifactId>reflections</artifactId>
            <version>0

[2017-11-09 17:13] jfarcand commented on #1349
@salviof Atmosphere supports that. Check the documentation (via web.xml)

[2017-11-14 10:11] Farkal opened #2299 "Scroll rollback Firefox 56.0 (64-bit)"
When I scroll on atmosphere pages it come back to the initial scroll position then restart scrolling.

[2017-11-15 14:56] pinonpierre opened #2300 "Vaadin 7.7.12 and Jetty 9.4.7.v20170914 Websocket..."
Hi,

Vaadin 7.7.12 doesn't work with Jetty 9.4.7.v20170914.

I added these maven dependencies:
[code]
But when I start my application, an error occurs:

[code]

And I have this messages in Web Browser Javascript Console:

[code]

I also tried to configure my webAppContext with the WebSocketServerContainerInitializer:

        try {
            WebSocketServerContainerInitializer.configureContext(w

[2017-11-15 15:01] pinonpierre commented on #2300
Sorry, you can delete this issue because I added it in bad project (Atmosphere instead of Vaadin framework)

[2017-11-16 13:05] #2300 closed

[2017-11-23 08:39] mohsenasadi opened #2301 "Error in handling big volume of data"
Hello,

I am using atmosphere for streaming data from tomcat server to client side written in javascript and developed a weksocket channel which implements WebSocketStreamingHandlerAdapter. I am sending many messages around 10000 message and the message is similar to this:
{"eventName":"bubleLayer","message":{"SHAPE":"POINT (-12048311.6244 5329789.155)","geoType":"POINT","TIMESTAMP":"2015-08-05 23

[2017-12-05 14:18] nooitaf commented on #2299
+1 unusable in FF

[2017-12-06 21:03] jfarcand commented on #2299
I don't think you are talking about the proper project

[2017-12-06 21:03] #2299 closed

[2017-12-07 06:29] araf-systalent opened #2304 "A filter or servlet of the current chain does not support asynchronous operations error when implement push servlet"
We have an issue when we are trying to implement the use servlet with the help of atmosphere dependency We can run in locally with current configuration but when my appliction is deployed to aws then push servlet not working. the logs in aws is

My Aws server configuration is Java 8 with Tomcat 8 version 2.1.3
64bit Amazon Linux 2016.03 v2.1.3 running Tomcat 8 Java 8
2016.03.2
Java 1.8.0_91
Tomcat

[2017-12-12 04:46] #2304 closed

[2017-12-13 06:14] orange-buffalo commented on #2277
@zanzan23 have you had any chance to prepare a pull request for this?

[2017-12-13 08:21] zanzan23 commented on #2277
Unfortunately no, sorry, I’m just going out from a very stressing time. BTW I should have the chance to prepare the pull request in the next few days.

Da: Bogdan Ilchyshyn [mailto:notifications@github.com]
Inviato: mercoledì 13 dicembre 2017 07:14
A: Atmosphere/atmosphere
Cc: Zanatta Fabio; Mention
Oggetto: Re: [Atmosphere/atmosphere] ConcurrentModificationException in org.atmosphere.cpr.Atmosphe

[2017-12-14 10:14] jitendra19 commented on #2268
+

[2017-12-14 10:15] jitendra19 commented on #2268
plus 1

[2017-12-14 14:24] jfarcand opened #2305 "Possible NPE in ManagedAtmosphereHandler"
[code]

[2017-12-14 14:31] #2305 closed

[2017-12-19 00:04] jfarcand opened #2307 "WebSphere replace null with empty for attribute"
WebSphere 8.5.x
[code]

[2017-12-19 00:11] #2307 closed

[2017-12-29 17:16] bdevapatla opened #2308 "Tomcat8-LongPoll - Initial longpoll request is not returning after specified polling interval."
Hi,

When a client initially connects using long-polling transport, the request is not cancelled by server after specified polling interval which is 60 secs in my case. Therefore I do not see a new request after 60 secs.

The client is IE version # 11 and the server is tomcat 8.

However this issue is not seen on reopen, if the client gets disconnected and reconnects for any reason.

Can anyone th

[2017-12-29 17:36] bdevapatla commented on #2063
@jfarcand @saikiran939
I am still seeing this issue to some extent.  I am using ManagedService implementation of atmosphere. My scenario is as follows:

1) Client initially connects using long-poll. A 60 sec poll-interval is defined on AtmosphereRequest
2) A no messages until 60 secs. The initial long-poll request is still not disconnected (essentially not replaced by a new request)
3) At 90 secs,

[2017-12-29 17:50] saikiran939 commented on #2063
There could few factors which may impact delivery of messages:

1. Are you using tomcat 8? Then why use long polling ?

2. When you say only one message is received, atmosphere appends all the
messages into one message and separate them at client side. Did you clearly
see the message content ?

On Dec 29, 2017 11:06 PM, "Bhanuprakash Devapatla" <notifications@github.com>
wrote:

[2017-12-29 19:31] bdevapatla commented on #2063
@saikiran939 - Thanks for your reply.

1) Internal network settings are not allowing websocket connections. The fallback is long-polling
2) I am not sure if I understand this. Multiple messages are broadcasted in a loop. I did not measure however the time gap between firing each message is in the order of mil.secs.

I have actually tried using batching using following code and the issue persists.

[2017-12-30 10:01] saikiran939 commented on #2063
Did you try with latest version ? I have fixed a bug in long polling few
months back and I don't
Know if you have the fix on your environment.

On Dec 30, 2017 1:01 AM, "Bhanuprakash Devapatla" <notifications@github.com>
wrote:

@saikiran939 <https://github.com/saikiran939> - Thanks for your reply.

   1. Internal network settings are not allowing websocket connections. The
   fallback is long-pol

[2018-01-02 01:46] bdevapatla commented on #2063
Hi @saikiran939  - Thanks for your reply.

I think we have your fix for long-polling from September 2016 (which is the same fix discussed in this thread). Was there another fix for long-polling recently? If so, can you point me to issue tracker link?

I have tested my application using 2.4.14 version and long-polling seem to work fine without any issues so far. However I am not exactly what change

[2018-01-02 02:31] saikiran939 commented on #2063
Not that I'm aware of. But may be some other fixes in latest release might
have fixed this.

On Jan 2, 2018 7:16 AM, "Bhanuprakash Devapatla" <notifications@github.com>
wrote:

Hi @saikiran939 <https://github.com/saikiran939> - Thanks for your reply.

I think we have your fix for long-polling from September 2016 (which is the
same fix discussed in this thread). Was there another fix for long-polli

[2018-01-02 02:38] bdevapatla commented on #2063
Okay. Thanks @saikiran939 for your help

Hi @jfarcand - Can you please help understand recent fixes for long-polling?

[2018-01-03 09:21] saikiran939 commented on #2063
@bdevapatla is it possible to to do a video recording and share with us here ?

[2018-01-03 09:27] saikiran939 commented on #2268
@xdenser so you mean JS onOpen() is not getting invoked instantly after the connection establishment ?

[2018-01-08 00:09] jfarcand opened #2309 "HeartbeatInterceptor: allow disabling flushBuffer"
For performance reason with `sse` and `websocket`

[2018-01-08 00:12] #2309 closed

[2018-01-10 15:19] jfarcand opened #2310 "Change log scope for duplicate uuid detection"
In DefaultBroadcaster, set the log to debug for `=>` #1669

[2018-01-10 15:24] #2310 closed

[2018-01-12 14:44] jfarcand commented on #2272
Invalid.

[2018-01-12 14:44] #2272 closed

[2018-01-12 15:26] afxgroup commented on #2272
This is not invalid.. This is an issue on tomcat 8 that is not a problem with tomcat 7...

[2018-01-14 10:05] brunojcm opened #2311 "org.atmosphere.cpr.AtmosphereFramework#destroy() leaking threads"
I'm currently investigating the cause of https://github.com/vaadin/framework/issues/10532 and I think it's an Atmosphere issue.

Consider this destroy method on the 2.4.x branch:

    public AtmosphereFramework destroy() {
        ...
        // Invoke ShutdownHook.
        config.destroy();

        ...
        ExecutorsFactory.reset(config);

        ...
        return this;
    }

and the `org.

[2018-01-15 14:41] jfarcand commented on #2272
@afxgroup I have more than 100+ customers on Tomcat 8 using WebSockets :-) I don't think there are issues with Tomcat 8 :-)

[2018-01-17 22:21] #2311 closed

[2018-01-19 16:34] brunojcm commented on #2311
Nice, thanks! :)

Just one question: where `properties.clear();` is being executed now? It seems to be completely removed.

[2018-01-22 14:08] jfarcand commented on #2311
@brunojcm Good catch. Just re-added it.

[2018-02-05 10:00] KatriHaapalinna opened #2312 "Initial establishment and closing of long-polling transport are missing Content-Type header"
Cases where Content-Type header is not included:
- Initial establishment of the 'long-polling' transport
- Closing of the transport

The 2nd case has a 0-length response body so perhaps 'Content-Type' doesn't make much sense, but then the return code 204 (No Content) would probably be more idiomatic/accurate than 200, because 204 would indicate more clearly that the body is empty and justify the '

[2018-02-05 14:30] jfarcand commented on #2312
@KatriHaapalinna It the server that decide the status code, not Atmosphere. Which server are you using and why you think we have an issue?

[2018-02-05 17:08] jfarcand commented on #2301
@mohsenasadi Have you found a solution? It seems to be a bug in Tomcat, not in Atmosphere IMO

[2018-02-05 17:08] #2301 closed

[2018-02-05 17:10] jfarcand commented on #2293
@jacobilsoe Pull request welcomed...please try with the latest 2.4.20

[2018-02-05 17:10] #2293 closed

[2018-02-05 17:10] jfarcand commented on #2292
Not an issue.

[2018-02-05 17:10] #2292 closed

[2018-02-05 17:11] jfarcand commented on #2294
This issue is unrelated to Atmosphere...browse the exception on Google for more info

[2018-02-05 17:11] #2294 closed

[2018-02-05 17:11] jfarcand commented on #2290
@SoftMadHatter Contribution welcomed

[2018-02-07 09:01] KatriHaapalinna commented on #2312
The status code is secondary, I just meant to say that in the case of Content-Length:0, Content-Type can/should arguably be empty despite the code being a bit inaccurate.
The main issue is the missing Content-Type in the first request, which **has** content, but no Content-Type header;

Response headers:
HTTP/1.1 200 OK
Date: Wed, 07 Feb 2018 07:53:58 GMT
X-Atmosphere-first-request: true
X-Atmosph

[2018-02-07 14:58] jfarcand commented on #2312
@KatriHaapalinna This is coming from Jetty (Atmosphere doesn't deal with that).

[2018-02-08 11:55] KatriHaapalinna commented on #2312
@jfarcand Are you sure? This issue is present also, when I deploy an app to Tomcat, if that's what you mean.

Why couldn't the Content-Type be added here: https://github.com/Atmosphere/atmosphere/blob/master/modules/runtime/src/main/java/org/atmosphere/runtime/AtmosphereFramework.java#L2229
e.g. `res.setHeader("Content-Type", "text/plain; charset=utf-8");` ? At least some headers for the first res

[2018-02-08 15:02] jfarcand commented on #2312
@KatriHaapalinna Good point! Thanks for the explanation. Do you have the cycle to contribute a patch?

[2018-02-16 14:18] jfarcand opened #2314 "Improve BroadcasterCacheListener lifecycle for external cache support."

[2018-02-16 16:07] #2314 closed

[2018-02-27 18:21] baconmania opened #2315 "Path parameters broken with @AtmosphereService annotation"
Path parameters don't seem to work with the `@AtmosphereService` annotation. Looking at the `jersey2-chat` example in atmosphere-samples, changing the path [here](https://github.com/Atmosphere/atmosphere-samples/blob/master/samples/jersey2-chat/src/main/java/org/atmosphere/samples/chat/jersey/Jersey2Resource.java#L43) to `/chat/{arg}` results in the following behavior from the server:

[code]

[2018-03-02 09:38] cliviu commented on #2090
@FauxFaux , can you please detail, I'm having the same problem but I'm not sure what I have to do to fix it

[2018-03-02 20:59] FauxFaux commented on #2090
I no longer work at that company, and don't have access to the codebase. The description makes sense to me, however, do you not have those lines in your Jetty server setup?

[2018-03-02 22:04] cliviu commented on #2090
I got it, thank you !

[2018-03-08 18:01] cthiebaud opened #2317 "404 after upgrade of atmosphere-runtime from 2.4.20 to 2.4.21"
the url defined as:

@ManagedService(path = "/patata/{dagName}/patati/{scope}")

(line 26 of https://github.com/aequologica/dagr/blob/develop/dagr-vebchar/src/main/java/net/aequologica/neo/dagr/websocket/DagSocket.java)

returns 404 after the upgrade of atmosphere-runtime from 2.4.20 to 2.4.21 (and not changing anything else)

no clue why, I stay on 2.4.20, just FYI

thanks
Christophe

[2018-03-08 18:24] jfarcand commented on #2317
Oups...let me investigate ASAP

[2018-03-09 15:46] cthiebaud commented on #2317
Yeah, I had a rapid look at the commit diff between the two releases, and this one sounds related. Sorry, it is beyond my skills to investigate. Thanks for the quick reply. Tell me if I can contribute in any way.

[2018-03-12 15:41] chukcha123 opened #2318 "High CPU usage"
Sometimes (very rare) our web application starts to have a high CPU usage.
We use push functionality with Atmosphere.
After tracing the problem I found the following.
User connects with long-polling and receives a push message (usually a big cached sequence of messages).
The following error is displayed in the log:

[code]

folowed by:

[code]

and the CPU usage goes high.
The resource is always s

[2018-03-14 00:06] jfarcand commented on #2318
I am heavily using Atmosphere in production and never see something like that. I suspect it's related to Tomcat and not Atmopshere as the underlying I/O is done by Tomcat. Which version of Tomcat are you using?

The only way I will be able to help is if you share a test case on github that reproduce the issue. If you can't, consider looking at the professional service options on http://Async-Io.or

[2018-03-14 00:08] jfarcand commented on #2317
@cthiebaud Thanks! Will look as soon as I have the cycle.

[2018-03-21 12:20] chukcha123 commented on #2318
The tomcat version is 7.0.70 running with java 1.7.0_80 and Atmosphere Framework 2.2.8
In internet I found also another users having troubels with similar problems: https://github.com/vaadin/framework/issues/10532

Is there a way to workaround it, for example to identify this case and may be to close the hanging request ?

[2018-03-22 16:46] dadikovi commented on #1569
Is it possible that the same issue appears in [IOUtils:255](https://github.com/Atmosphere/atmosphere/blob/124c9a075435973356cca3c7f5309152b4664abb/modules/runtime/src/main/java/org/atmosphere/util/IOUtils.java#L255) ?

[2018-03-22 20:25] jfarcand commented on #1569
@dadikovi Are you getting the exception? In any case pull request welcomed :-) (yes I suspect that could happens)

[2018-03-26 12:10] yogeshbhuse opened #2319 "is Atmosphere Support for two different server"
Hi,

I have to send one request from one server to another server as push Notification is it possible with Atmosphere environment.

[2018-03-26 13:25] jfarcand commented on #2319
Look at https://github.com/Atmosphere/atmosphere-extensions/

[2018-03-26 13:25] #2319 closed

[2018-04-03 09:32] kkolinko opened #2320 "The path [/{path0}/] contains one or more empty segments - when registering endpoints - after upgrade to 2.4.21"
There is a bug in commit performed by pull request #2316. In 14367ba, to be specific.

Configuration:  Tomcat 8.5.29, Vaadin Framework 8.4-SNAPSHOT, uses atmosphere-runtime-2.4.21.vaadin1.jar.

VaadinServlet is mapped in web.xml as
[code]
I observe the following failure when web application starts.
[code]

Comments on lines 73-39 in 14367ba say that the commit registers the following endpoints:
[c

[2018-04-03 10:19] kkolinko commented on #2320
The above is the hash of this commit in **master** branch. In **atmosphere-2.4.x** (2.4.21) that I am using it is d3b6761.

[2018-04-03 20:48] jfarcand commented on #2320
@kkolinko Can you try the latest snapshot (2.4.23-SNAPSHOT). Thanks for the detailed analysis!!!!!!

[2018-04-03 20:52] jfarcand commented on #2317
@cthiebaud Can you try 2.4.23-SNAPSHOT once you have a chance?

[2018-04-03 21:00] jfarcand commented on #2312
Fixes

[2018-04-03 21:00] #2312 closed

[2018-04-03 21:01] #2277 closed

[2018-04-03 21:01] #2266 closed

[2018-04-03 21:02] #2262 closed

[2018-04-03 21:02] jfarcand commented on #2261
Fixed on master

[2018-04-03 21:02] #2261 closed

[2018-04-03 21:03] #2245 closed

[2018-04-03 21:03] #2247 closed

[2018-04-03 21:03] #2234 closed

[2018-04-03 21:04] #2178 closed

[2018-04-03 21:04] #2148 closed

[2018-04-03 21:05] #2123 closed

[2018-04-03 21:05] #2121 closed

[2018-04-03 21:06] #2101 closed

[2018-04-03 21:06] #2102 closed

[2018-04-03 21:06] #2122 closed

[2018-04-03 21:07] #2318 closed

[2018-04-03 21:07] #2296 closed

[2018-04-03 21:08] #2288 closed

[2018-04-03 21:08] #2285 closed

[2018-04-03 21:08] #2269 closed

[2018-04-03 21:09] #2255 closed

[2018-04-03 21:09] #2254 closed

[2018-04-03 21:09] #2236 closed

[2018-04-03 21:09] #2214 closed

[2018-04-03 21:10] #2205 closed

[2018-04-03 21:12] #2286 closed

[2018-04-03 21:13] #2283 closed

[2018-04-03 21:13] #2271 closed

[2018-04-03 21:13] #2267 closed

[2018-04-03 21:15] #2308 closed

[2018-04-03 21:16] #2274 closed

[2018-04-03 21:17] #2218 closed

[2018-04-03 21:17] #2192 closed

[2018-04-03 21:17] #2190 closed

[2018-04-03 21:18] #2182 closed

[2018-04-03 21:25] #2279 closed

[2018-04-03 21:25] #2268 closed

[2018-04-03 21:38] #2141 closed

[2018-04-03 21:38] #2162 closed

[2018-04-03 21:39] #2173 closed

[2018-04-04 00:18] orange-buffalo commented on #2277
@jfarcand as the issue is closed, could you please advise which version includes the fix?

[2018-04-04 01:18] jfarcand commented on #2277
@orange-buffalo 2.4.19+

[2018-04-04 08:11] kkolinko commented on #2320
Re: 7670c36
1. Line 83 is a bug. It is
[code]
I think that it has to be
[code]
2. Comments above the code were not updated. Remove the following line (76):
[code]
and replace {path1} -> {path0} in the comments (lines 75-77, and also 92), as cycle start numbering with i=0.

----
(Reading WebSocket 1.1 specification - chapter "3.1.1 URI Mapping",
I think that declaring an explicit "/servletPath/" pa

[2018-04-04 10:20] vbarrier opened #2321 "AtmosphereResource with transport type CLOSE?"
Hello,

It seems that atmosphere store all "close" requests when enableProtocol is enabled. They are seen as atmosphereResource and suspended

using : 2.4.18

with interceptors : org.atmosphere.interceptor.IdleResourceInterceptor,
                                org.atmosphere.interceptor.PaddingAtmosphereInterceptor,
                                org.atmosphere.client.TrackMessageSizeIntercepto

[2018-04-04 14:05] cthiebaud commented on #2317
from here I guess ?
https://oss.sonatype.org/content/repositories/snapshots/org/atmosphere/atmosphere-runtime/2.4.23-SNAPSHOT/

ok, I'll give it a try

[2018-04-05 16:07] jfarcand commented on #2317
Fixed in `.22` and up

[2018-04-05 16:07] #2317 closed

[2018-04-05 16:40] jfarcand commented on #2320
Rolled back to the previous implementation as it cause too many regression

[2018-04-05 16:40] #2320 closed

[2018-04-05 16:41] #2321 closed

[2018-04-09 07:28] 0x006EA1E5 opened #2322 "HttpServletResponse#getHeaders should return null if header doesn't exist, not [null]"
When `org.atmosphere.cpr.AtmosphereResponseImpl#getHeaders` is called for a header name which isn't found, it currently returns a collection with the single value of `null`.

This fails for example in `https://github.com/spring-projects/spring-framework/blob/c82bf0b004d934af1af5917c510d641165b2e2cc/spring-web/src/main/java/org/springframework/http/server/ServletServerHttpResponse.java#L136` which

[2018-04-09 07:58] 0x006EA1E5 commented on #2322
See PR https://github.com/Atmosphere/atmosphere/pull/2323

[2018-04-13 22:34] arotnov opened #2324 "Atmosphere framework initalization fails in OSGI environment"
The problem is that Atmosphere produces Injectable implementations and consumes it itself by ServiceLoader.
ServiceLoader by default uses current thread classloader, and in OSGI current classloader might not know about implementations of Injectable services (example, vaadin-server bundle trying to instatiate framework and initialization fails, because classes loads by vaadin bundle classloader).
T

[2018-04-16 16:43] jfarcand commented on #2324
@arotnov Pull request more than welcomed...I agree it has been awhile since I've looked at OSGI. If you have the time, fix it and I will integrate it. Thanks

[2018-04-24 09:16] fenik17 opened #2325 "HeartbeatInterceptor does not work with GET method"
`HeartbeatInterceptor` skips the content of the GET method:
https://github.com/Atmosphere/atmosphere/blob/c2e67ed7a8c69ac164af4da58ff7f05b35a6943a/modules/runtime/src/main/java/org/atmosphere/interceptor/HeartbeatInterceptor.java#L197

Because of this, the client's heartbeat message (with 'X' in content) reaches the handler.
At the moment I use workaround with an additional interceptor:
[code]

Bu

[2018-04-24 23:16] jfarcand commented on #2325
@fenik17 The client is sending a `POST` to the client with the body set to `X`. `atmosphere.js` does a `GET` for suspending its connection (receive push), and then use `POST` for the heart.

[2018-04-25 11:33] fenik17 commented on #2325
To prevent the connection breaking we added an init parameter:
`org.atmosphere.interceptor.HeartbeatInterceptor.clientHeartbeatFrequencyInSeconds = 30`

But after that our handler began to receive messages with 'X' in the body (with the direct connection, or proxied by nginx).

For the tests I use this client script: https://github.com/Atmosphere/atmosphere-samples/blob/master/samples/websocket-ch

[2018-04-25 14:43] jfarcand commented on #2325
@fenik17 OK you are right. Can you do a pull request? Thanks!

[2018-04-25 14:52] fenik17 commented on #2325
@jfarcand sure. I'll do later.

[2018-04-26 13:30] #2325 closed

[2018-04-27 01:21] max-grigoriev opened #2328 "Can not start nettosphere 2.4.10 + atmosphere 2.4.24 + jetty 9.4"
Hi,
I'm migrating the project to jetty 9.4.
I can not start web socket server because When `Jetty9AsyncSupportWithWebSocket` tries to start `WebSocketServerFactory`, it wants to get executor from context on start:
[code]

But `ContextHandler.getContextHandler(context);` returns `null` because nettosphere passes own ServerContext nettosphere-2.4.10-sources.jar!/org/atmosphere/nettosphere/BridgeRunt

[2018-04-27 12:14] jfarcand commented on #2328
@max-grigoriev You can't use both runtime at the same time...either you run Atmosphere on Netty or run on Jetty. Why would you use Netty on top of Jetty?

[2018-04-27 12:14] #2328 closed

[2018-04-27 13:51] max-grigoriev commented on #2328
here's stacktrace when I start `nettosphere:
`
at org.atmosphere.cpr.DefaultAsyncSupportResolver.resolveWebSocket(DefaultAsyncSupportResolver.java:308)
! at org.atmosphere.cpr.DefaultAsyncSupportResolver.resolve(DefaultAsyncSupportResolver.java:294)
! at org.atmosphere.cpr.AtmosphereFramework.autoDetectContainer(AtmosphereFramework.java:2088)
! at org.atmosphere.cpr.AtmosphereFramework.init(Atmosp

[2018-04-27 14:29] fenik17 commented on #2328
@max-grigoriev as @jfarcand said, don't use Nettosphere with Jetty.

[2018-04-27 14:34] max-grigoriev commented on #2328
@fenik17 so is it impossible to have some services running under jetty as plain old REST endpoint and have Nettosphere which is running in the same service?

P.S. container class should be printed when nettosphere configuration is OK:
`Atmosphere is using async support: org.atmosphere.container.NettyCometSupport running under container: Nettosphere/2.0` ?

[2018-04-27 15:03] fenik17 commented on #2328
Theoretically, this is possible. But IIUC, Atmosphere is not designed for multiple containers in classpath. It use the first found container.

[2018-05-01 13:42] jfarcand commented on #2325
@fenik17 Do you need an official release? Also can you drop me an email @ `jfarcand@apache.org` ? I would like to chat with you on Atmosphere.

[2018-05-02 16:46] jfarcand commented on #2324
Fixed by #2324

[2018-05-02 16:46] #2324 closed

[2018-05-02 16:48] jfarcand commented on #2273
Should be fixed by now

[2018-05-02 16:48] #2273 closed

[2018-05-07 14:58] #2322 closed

[2018-05-08 09:27] yadavamit opened #2332 "Support for tomcat 9.x"
Please add the support for tomcat 9.x. As of now tomcat 9.x is not in the supported  webservers list.

https://github.com/Atmosphere/atmosphere/wiki/Supported-WebServers-and-Browsers

[2018-05-08 09:28] yadavamit commented on #2332
Atmosphere version i am using is 2.4.

[2018-05-09 05:09] mohitbhindwal opened #2333 "Issue with tomcat 9 and atmosphere 2.2"
I am getting this in tomcat logs while tries to connect with web socket of application.
With tomcat 9 is it compulsory to have atmosphere 2.4 ?
With tomcat 9 Do i have to use cometd only or I can use websocket,long pull ?
Do I need to upgrade api for tomcat 9 ?

 java.lang.NullPointerException
    at org.eclipse.jetty.websocket.WebSocketFactory.upgrade(WebSocketFactory.java:238)
    at org.eclipse

[2018-05-10 14:58] jfarcand commented on #2333
Remove Jetty from you classpath

[2018-05-10 14:58] #2333 closed

[2018-05-14 07:49] alexcase52 opened #2334 "Session suspend fails in AtmosphereResource due to integer math overflow"
Version 2.4.24
class `org.atmosphere.cpr.AtmosphereResourceImpl(:342)`
method `suspend()`
There's check of `req.getSession().getMaxInactiveInterval() * 1000 < timeout`. In my case i have long session timeout and multiplying it by 1000 leads to integer overflow and negative value. `timeout` var in my is -1 so the comparison fails and exception "Cannot suspend a response longer than the session time

[2018-05-15 15:28] #2334 closed

[2018-05-18 16:58] davidandradeb commented on #2111
I worked with:
PAYARA 5.181

[2018-05-25 11:31] pedrohdz commented on #2315
I am experiencing the same issue here.  Has anyone resolved this, found a work around?

[2018-05-25 16:36] jfarcand commented on #2315
@baconmania @pedrohdz The `{arg}` needs to be set via the `Path` annotation, not that value.

[2018-05-25 16:36] #2315 closed

[2018-06-01 10:19] pedrohdz commented on #2315
Worked!  Thanks!

[2018-06-14 21:28] elakito opened #2336 "Update SimpleRestInterceptor to always use the detached content mode"
When the rest message contains a entity content, it is simpler to attach the content outside of the json part that contains the message information such as the method, path, content-type.

SimpleRestInterceptor had previously two content transfer mode: the embedded mode that includes the content within the json part and the detached mode that includes the content after the json part.

This patch w

[2018-06-14 21:44] elakito commented on #2336
https://github.com/Atmosphere/atmosphere/issues/2160

[2018-06-14 21:44] #2336 closed

[2018-06-18 21:40] jfarcand commented on #2332
Tomcat 8.5 and up is listed on that page.

[2018-06-18 21:40] #2332 closed

[2018-06-18 21:41] #2039 closed

[2018-06-18 21:42] jfarcand commented on #2016
Will be done here https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:42] #2016 closed

[2018-06-18 21:42] #1948 closed

[2018-06-18 21:42] jfarcand commented on #1925
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:42] #1925 closed

[2018-06-18 21:42] jfarcand commented on #1924
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:42] #1924 closed

[2018-06-18 21:43] jfarcand commented on #1918
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:43] #1918 closed

[2018-06-18 21:43] jfarcand commented on #1917
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:43] #1917 closed

[2018-06-18 21:43] jfarcand commented on #1916
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:43] #1916 closed

[2018-06-18 21:43] jfarcand commented on #1915
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:43] #1915 closed

[2018-06-18 21:43] jfarcand commented on #1914
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:43] #1914 closed

[2018-06-18 21:44] jfarcand commented on #1577
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:44] #1577 closed

[2018-06-18 21:45] jfarcand commented on #1869
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:45] #1869 closed

[2018-06-18 21:45] jfarcand commented on #1911
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:45] #1911 closed

[2018-06-18 21:45] jfarcand commented on #1913
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:45] #1913 closed

[2018-06-18 21:45] jfarcand commented on #1575
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:45] #1575 closed

[2018-06-18 21:46] jfarcand commented on #1919
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:46] #1919 closed

[2018-06-18 21:46] jfarcand commented on #1920
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:46] #1920 closed

[2018-06-18 21:46] jfarcand commented on #1921
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:46] #1921 closed

[2018-06-18 21:46] jfarcand commented on #1922
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:46] #1922 closed

[2018-06-18 21:46] jfarcand commented on #1923
Won't fixes

[2018-06-18 21:46] #1923 closed

[2018-06-18 21:47] jfarcand commented on #1926
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:47] #1926 closed

[2018-06-18 21:47] jfarcand commented on #1958
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:47] #1958 closed

[2018-06-18 21:47] #2045 closed

[2018-06-18 21:48] #2063 closed

[2018-06-18 21:48] #2120 closed

[2018-06-18 21:48] jfarcand commented on #1137
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:48] #1137 closed

[2018-06-18 21:49] jfarcand commented on #671
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:49] #671 closed

[2018-06-18 21:49] jfarcand commented on #1945
Next official version https://github.com/Atmosphere/Atmosph4rX

[2018-06-18 21:49] #1945 closed

[2018-06-18 21:49] jfarcand commented on #1950
Won't fix

[2018-06-18 21:49] #1950 closed

[2018-06-18 21:49] jfarcand commented on #1955
Won't fix

[2018-06-18 21:49] #1955 closed

[2018-06-18 21:50] #2200 closed

[2018-06-18 21:50] #2187 closed

[2018-06-18 21:51] #2131 closed

[2018-06-18 21:51] #2127 closed

[2018-06-18 21:52] jfarcand commented on #2219
Same as #2177

[2018-06-18 21:52] #2219 closed

[2018-06-18 21:52] jfarcand commented on #2206
Won't fix

[2018-06-18 21:52] #2206 closed

[2018-06-18 21:53] jfarcand commented on #2084
Won't fix

[2018-06-18 21:53] #2084 closed

[2018-06-18 21:54] #2165 closed

[2018-06-20 18:06] ylempereur opened #2337 "Tomcat rejects HttpSession.setAttribute call (BroadcasterFactory is not serializable)"
I wanted to report a problem we are seeing on occasion. Here is the stacktrace, explanation follows:

[code]
I found the line in the source code that causes the problem:

`s.setAttribute(FrameworkConfig.BROADCASTER_FACTORY, config.getBroadcasterFactory());`

Any attribute added to a session is required to be serializable, and neither the interface BroadcasterFactory nor the class DefaultBroadcaste

[2018-06-22 13:57] #2337 closed

[2018-06-25 15:31] glucas commented on #2129
Any update on this issue?

[2018-06-26 12:46] jfarcand commented on #2129
Fixed #2337

[2018-06-26 12:46] #2129 closed

[2018-07-02 08:02] mejmo opened #2339 "Provider org.atmosphere.cpr.AnnotationScanningServletContainerInitializer not a subtype"
Hello,

we are getting this error on Webspher 8.5 and Vaadin 7.7.3. There is a problem with atmosphere initialization, but I was unable to find a solution. May you give us a hint?

[code]

[2018-07-02 11:25] saikiran939 opened #2340 "IllegalStateException in dirty closing of resource"
Hi,

We've been seeing this exception in logs for some time. This happens only when a resource is identified as duplicate and it tries to close the async context by fetching from request object, looks like atmosphere is holding a stale http request object.

I tried to fix this in atmosphere code by catching the exception in `AtmosphereRequestImpl.attributeWithoutException()` which is alreaddy catc

[2018-07-02 21:54] jfarcand commented on #2340
@saikiran939 +1 for the fix

[2018-07-04 00:49] larose commented on #2238
Fixed in #2338

[2018-07-04 00:49] #2238 closed

[2018-07-04 15:06] saikiran939 commented on #2340
Opened PR at https://github.com/Atmosphere/atmosphere/pull/2341

[2018-07-05 12:03] #2340 closed

[2018-07-12 12:31] jamesmmchugh opened #2342 "Does Atmosphere support socket.io client 2.x"
I couldn't find any documentation on what versions of the socket.io client Atmosphere supports. Does it work with version 2.x of socket.io client?

[2018-07-12 13:51] jfarcand commented on #2342
Nope. Socket.IO support is pretty dead unless someone jumps in :-)

[2018-07-12 13:51] #2342 closed

[2018-07-17 06:41] shashankn91 commented on #2279
Did you find the solution ? I am facing the same issue .

[2018-07-18 21:08] jfarcand opened #2343 "Make sure we decode jsonpTransport securely"

[2018-07-18 21:10] #2343 closed

[2018-07-20 08:02] GedMarc commented on #2210
Atmosphere Guice plugin doesn't work at all, gotta do it yourself...

[code]

[2018-07-25 21:46] jfarcand commented on #2210
@GedMarc Have you try latest `.21` by any chance?

[2018-07-26 06:12] GedMarc commented on #2210
Yep, same problems, not fixed.

Either way though it's no longer valid - Atmosphere went spring boot which has a completely different injection mechanism that doesn't follow any JSR so plugging Guice on top of it is really not a good idea by any means. With the official release of javax.websocket as the official WS API for Java, and the removal of the older HttpUrlConnection and etc packages it ca

[2018-07-26 16:20] meszarv opened #2344 "NPE from AtmosphereRequestImpl.getCookies"
[code]

Root cause in JSR356Endpoint.java line ~220:
when original request has no "Cookie" header (or in my case if the header is lower case "cookie")
, cookies variable used to build the AtmosphereRequestImpl is never initialized.
See:
[code]

[2018-07-27 13:34] infa-tklingle opened #2345 "atmosphere client unsubscribe not closing request, and reconnect attempts flooding tomcat access log."
current setup spring application:
[code]

This issue got our intention, while we found our tomcat access logs, flooded with millions of atmosphere hardbeats, which came in approximately every millisecond and filled up the log files within a week to 20GB.
[code]

After some research, we could reproduce this issue by restarting our tomcat application server while having a open atmosphere client sess

[2018-07-27 13:36] infa-tklingle commented on #2345
While researching for the root cause of this issue I updated atmosphere from 2.2.3 to 2.4.21 thats why the logs differ from the setup description. But same issue for the newer atmosphere version.

[2018-07-30 19:56] jfarcand commented on #2210
@GedMarc OK I disagree with your statement but it is your choice. As the creator of Atmosphere, I still think you get much more than what you have described below. Guice support is fixed BTW with the new property added in `.21`...You need to bind yourself Atmosphere components.

[2018-07-30 19:57] jfarcand commented on #2344
@meszarv Pull request welcomed! I will create a new release with it.

[2018-08-01 07:25] ak80 opened #2346 "AtmosphereHandler not detected - even with package configured in web.xml"
I have a Java Web-App running fine in tomcat when deployed as a war file. When I run it through the tomcat maven plugin, with the "exploded" war file I get a

```No AtmosphereHandler or WebSocketHandler installed. Adding a default one.```

I have the dependency
[code]
and see ```Atmosphere is using org.atmosphere.cpr.DefaultAnnotationProcessor for processing annotation``` but my handler, annotated

[2018-08-02 07:45] ak80 commented on #2167
Any news on this? Is there a workaround? Without atmosphere-cdi it doesnt work at all for me. I tried to get the Atmosphere Framework as described in https://github.com/Atmosphere/atmosphere/wiki/Getting-BroadcasterFactory-and-AtmosphereResourceFactory-with-2.2-and-newer but that seems broken too.

[2018-08-02 12:29] ak80 commented on #2346
It seems my issue is related to #1159 but I can't figure out how that helps me. I am using Servlet 3.0 and have defined my package in web xml. Still, it is not picked up.

Any help would be greatly appreciated

[2018-08-03 11:14] buharov-alexander opened #2347 "[JSR 356] Multiple endpoints on one servlet but only the first endpoint works"
I use atmosphere 2.4.28 and tomcat 9.0.5
My servlet config:
[code]
Also, I have multiple server endpoints associated with this servlet:
`/v1`, `/v2`, ...

I can establish the WebSocket connection with all endpoints but if I make a request - only one endpoint(`v3`) will work as expected. Other endpoints return `404` error.

Seems `JSR356AsyncSupport` creates endpoints for paths:
`/api`
`/api/{path0

[2018-08-06 13:04] DarrMirr opened #2348 "Atmosphere resource is not closed if client abort connection"
Hello!

I have spring boot 1.5.14 application and use atmosphere framework to notify clients about events. Sometimes connection is aborted unexpectedly by client or proxy server. Tomcat close socket and log this action. But atmosphere resource is still open on server side. When server try to write something to such resource I have `java.io.IOException: Broken pipe`

My project configuration is the

[2018-08-15 11:23] jfarcand opened #2349 "COMPASS SECURITY ADVISORY: CSNC-2018-023"
https://www.compass-security.com/fileadmin/Datein/Research/Advisories/CSNC-2018-023_atmosphere.txt

## Fixed in version

* 1.0.21
* 2.0.12
* 2.1.14
* 2.2.13
* 2.3.10
* 2.4.30

[2018-08-15 11:25] #2349 closed

[2018-08-22 20:19] GeorgeBarbosa opened #2350 "Handle error connection when Server is down"
Hey guys, may you help me a little bit?

I'm trying to handle the error when the server is down in the javascript client.

I've noticed that the js client has already had the onError and onClientTimeout implemented but when the server is down I just got two different messages (501 and 408) in the onClose callback function.

Someone here has an example of how to handle the following exception when

[2018-09-05 04:11] hoomanb1 commented on #2343
Hi @jfarcand, this seems to be a security issue, are we assigning a CVE to it?

[2018-09-10 14:54] DominikSammerLocoso opened #2351 "Socket connection using Spring boot and socket.io"
Hey there,

Right now I am trying to implement an application, that creates a socket connection between an Angular application and a spring boot server.
The actual problem is that my client is not able to establish a connection to the backend application.
What the client is trying to is connecting to the server using localhost:4200/socket.io which is the port on which it running but what it should

[2018-09-10 20:03] jfarcand commented on #2343
@hoomanb1 See https://github.com/Atmosphere/atmosphere/issues/2349

[2018-09-17 09:50] yfraquelle commented on #2346
It works when the project is deployed as a jar file.

[2018-09-22 16:03] DarrMirr commented on #2348
Hi there!

Using websocket is the best way to resolve this issue. Unfortunately, there are a lot of clients which have old versions of software. And I have to support backward compatibility. I found out solely workaroud for this issue. Workaround have different implementation for Jetty and Tomcat.

Let's begin with Jetty.

Firstly, I create class which extend `org.eclipse.jetty.server.handler.Abst

[2018-09-22 16:03] #2348 closed

[2018-09-23 20:55] jfarcand commented on #2348
@DarrMirr Any reason to close the issue?

[2018-09-24 21:13] DarrMirr commented on #2348
@jfarcand, I think it is not issue atmosphere framework. Glassfish have Comet programming technique and I used it to deploy my application. And there was no problem with half open connection. When I started migrate to Spring Boot I faced with problem which I described above. Recently, I found out workaround and closed issue.

[2018-09-27 13:39] GMillerVarian opened #2352 "NullPointerException under Java 11"
Is Java 11 supported? After upgrading from Java 10 to Java 11, our application fails to start:

`ERROR o.atmosphere.cpr.AtmosphereFramework - Failed to initialize Atmosphere Framework
javax.servlet.ServletException: java.lang.NullPointerException
        at org.atmosphere.cpr.AtmosphereFramework.loadConfiguration(AtmosphereFramework.java:1568)
        at org.atmosphere.cpr.AtmosphereFramework.init

[2018-09-27 15:28] jfarcand commented on #2352
@GMillerVarian I haven't yet had a chance to test it, but clearly it seems something changed under the hood.

[2018-10-01 20:45] jfarcand commented on #2352
https://bugs.openjdk.java.net/browse/JDK-8198803

[2018-10-01 21:42] jfarcand opened #2353 "Release 2.5.0 with support for jdk8 / 11"

[2018-10-09 18:59] dyorgio opened #2354 "NPE on trace client already disconnected received event log."
Hello, I'm using version 2.4.30 with vaadin, and some times my production log have theses exceptions:

[code]

Looking at source I can found that it is just a log command, but I believe that it need to be handled to support nulls:

[code]

[2018-10-25 03:10] tbuckel opened #2357 "AtmosphereServlet.wrap() - ConcurrentModificationException"
Hi,

I'm occasionally seeing this exception in my server logs which uses Atmosphere.

[code]

I'm using Atmosphere 2.3.2 on Tomcat 7.0.63 proxied by nginx.
Any help would be appreciated.

Thanks,
Thomas

[2018-10-26 14:13] jfarcand commented on #2357
Try with `2.4.x` or `2.5.x` as this has been fixed.

[2018-10-26 14:13] #2357 closed

[2018-10-26 14:14] #2344 closed

[2018-11-08 15:59] jfarcand commented on #2354
@dyorgio Pull request welcomed! I will cut a release after that to accommodate you.

[2018-11-08 15:59] jfarcand commented on #2351
Socket IO is no longer supported.

[2018-11-08 15:59] #2351 closed

[2018-11-08 16:01] #2032 closed

[2018-11-08 16:01] #2037 closed

[2018-11-08 16:01] #2077 closed

[2018-11-08 16:01] #2092 closed

[2018-11-08 16:01] #2133 closed

[2018-11-08 16:01] #2134 closed

[2018-11-08 16:01] #2151 closed

[2018-11-08 16:01] #2166 closed

[2018-11-08 16:01] #2167 closed

[2018-11-08 17:15] dyorgio commented on #2354
Hi  @jfarcand,  I made it on master, how about include it on 2.4.x?

[2018-11-09 03:04] hieplq commented on #1896
i deploy atmosphere-runtime on equinox and jetty 9.4.12. i get bellow exception
in case i add "export package org.atmosphere.annotations" to atmosphere-runtime, it can resolve issue

`09:53:45.381-----------> ServletContainerInitializersStarter.warn:  [21]
java.lang.ClassNotFoundException: org.atmosphere.annotation.BroadcasterCacheServiceProcessor cannot be found by org.adempiere.ui.zk_6.1.0.quali

[2018-11-09 22:00] #2354 closed

[2018-11-21 17:13] loveslikey opened #2359 "Error in handling big volume of data and high concurrency"
Hello,
I am using atmosphere for streaming data from spring boot(2.0.3.RELEASE) server to client side written in javascript and developed a websocket channel. When I try to send about 500K size json string many times in multithreading  ,the server  seem block long time,and cannot push any message any more,Although has other threads use  "atmosphereResource.write(data)" to write data. Then server c

[2018-11-22 00:36] loveslikey commented on #2359
@jfarcand  I hava tried he latest release version( 2.5.2 and 2.4.32 ),but it still not works.
ps: environment is  JDK8

[2018-11-22 00:52] sailonsail opened #2360 "Concurrency issue in WebSocket's write operation on Win7"
It happens to be a same issue with
https://github.com/Atmosphere/atmosphere/issues/2359
It looks like just happening on Windows 7, and my data size is bigger, about 1.2 Mb.
What should I do to resolve this?

[2018-11-23 22:32] jfarcand commented on #2359
` java.lang.RuntimeException: java.io.IOException: Socket closed at ` ... so check win7

[2018-11-23 22:32] #2360 closed

[2018-11-24 00:47] loveslikey commented on #2359
what should I do for checking win7, give me some tips,please.
@jfarcand

[2018-12-06 14:39] meszarv opened #2361 "Broadcast to single client over long-polling fails"
Hi,
 I found an issue in long polling transport when broadcasting to single client using the
`broadcaster.broadcast(msg,ar);`

I have managed to reproduce this issue by modifying the atmosphere-chat sample:
https://gist.github.com/meszarv/adbec9e0ce3e8b788380e9cda150502d#file-chat-java-L150

**Expected behavior (as observed with websocket transport):**
User sends a message and chat responds with 1

[2018-12-10 18:21] jfarcand commented on #2361
This is the expected behaviour , e.g just configure the BroadcasterCache properly.

[2018-12-10 18:21] #2361 closed

[2019-01-02 20:30] pratyoosh commented on #2210
@jfarcand A practical problem that i ran into is atmosphere-guice depends on atmosphere-jersey which has a jersey 1.x dependency, this renders all of these modules useless for anyone using Jersey 2.x (majority of people writing a new project)

[2019-01-06 21:51] jfarcand commented on #2210
@pratyoosh If you make that dependency optional, does it help? Contribution welcomed!!!

[2019-01-07 11:03] FDU-SE-LAB opened #2362 "Your project Atmosphere/atmosphere is using buggy third-party libraries [WARNING]"
Hi, there!

We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.

We have attached the buggy third-party libraries and corresponding jira issue links below for you to have mo

[2019-01-08 00:49] #2350 closed

[2019-01-08 00:49] #2290 closed

[2019-01-08 00:50] jfarcand commented on #1799
Won't fix

[2019-01-08 00:50] #1799 closed

[2019-01-17 01:16] pratyoosh commented on #2210
@jfarcand i did tried that option & it didn't worked very well for me due to jersey imports.

I settled with a not such optimal option getting injector from servletcontext & using injectMembers to inject members in my atmosphere created objects.
I will give it a try in the next couple of months to come up with something cleaner

Injector existingInjector = (Injector)config.framework().getServletCo

[2019-02-21 03:15] aozaversa opened #2363 "Subscribe to topic only when a condition is met"
I am trying to implement websockets using jersey. I have a method **subscribe** in my AtmosphereServlet which returns SuspendResponse.SuspendResponseBuilder().addListener().build().

I want to subscribe to the topic only when a certain condition is met. Where do I write this condition. How do I reject the handshake. If I should write it in my **subscribe** method, how do I implement it?

[2019-02-26 09:34] vbochenin opened #2364 "Extra memory allocations in TrackMessageSizeInterceptor"
Extra memory allocation just to check if response contains only spaces.
It leads to allocation extra space in heap and more often `GC:Allocation failure` under heavy load

TrackMessageSizeInterceptor#Interceptor (line 149)

[code]

[2019-02-28 14:58] jfarcand commented on #2364
@vbochenin Pull request welcomed!

[2019-03-04 08:09] vamsikkancharla opened #2365 "Use of HttpSession in atmosphere"
Dear Team,
We are using Atmospehere framework in our product for Async Push Notifications using Websockets/Long-polling.
In our Product, we support multiple application sessions in a single browser session using the concept of path based cookies.
i.e if we hit (From same browser different tabs)  http://host:port/app/abc , http://host:port/abc/xyz we will have separate application sessions but sing

[2019-03-15 21:18] bifunctor opened #2366 "Testing websocket with Smart Websocket Client?"
Hi
Is it possible to test websocket with the chrome add on Smart Websocket Client?

Thanks

[2019-03-25 22:47] jfarcand commented on #2366
Yes.

[2019-03-25 22:47] #2366 closed

[2019-04-05 04:07] Shabirmean commented on #724
How do you get this working with the fix? Is there any docs related to this?

[2019-04-11 08:04] blono opened #2367 "WebSocket protocol not supported on Payara 5"
I'm trying to test https://github.com/Atmosphere/atmosphere-samples/tree/master/samples/websocket-chat on Payara 5.

It seems that WebSocket protocol is not supported on Payara.

## Steps to reproduce

1. git clone https://github.com/Atmosphere/atmosphere-samples/tree/master/samples/websocket-chat
2. mvn package
3. download Payara 5.191 from https://www.payara.fish/software/downloads/
4. unzip pay

[2019-04-17 05:57] JicTinker opened #2368 "NPE with AtmosphereResource.getSession()"
Atmosphere :2.4.32
Stacktrace:
[ERROR] [pool-3-thread-52] [org.atmosphere.cpr.AsynchronousProcessor] Interceptor Atmosphere LifeCycle crashed. Processing will continue with other interceptor.
java.lang.NullPointerException: null
	at org.atmosphere.cpr.AtmosphereRequestImpl.getSession(AtmosphereRequestImpl.java:688) ~[atmosphere-runtime-2.4.32.jar:2.4.32]
	at org.atmosphere.cpr.SessionTimeoutSuppor

[2019-04-17 13:49] jfarcand commented on #2367
@blono Great investigation! Can you do a pull request? I will merge it and integrate it ASAP. Thanks!

[2019-04-18 06:51] blono commented on #2367
@jfarcand Thank you, too!
I'm really glad if WebSocket works fine on Payara!
https://github.com/Atmosphere/atmosphere/pull/2369

[2019-04-24 20:26] #2367 closed

[2019-05-24 14:19] ronnybremer opened #2370 "atmResource.getRequest().getRemoteAddr() always returns "0.0.0.0" on WildFly 14 with websockets"
For audit reasons I need to know the IP address of the invoking party of our web socket services. According to a post from a couple of years ago, you can get the underlying request through atmResource.getRequest() and use getRemoteAddr() from there. However, running behind Wildfly 14 and using web sockets I always get back "0.0.0.0". There was a similar issue in request #757 behind Tomcat, but tha

[2019-05-24 21:54] jfarcand commented on #2370
Have you try with another container to see if that work? Could you share a test case? Thanks

[2019-06-02 08:51] ronnybremer commented on #2370
I tried to port the application to another container, not so easy as it turned out. I will try to make a small test case to reproduce the issue.

On 25 May 2019, at 00:55, Jeanfrancois Arcand <notifications@github.com<mailto:notifications@github.com>> wrote:

In a rest endpoint in the same WAR I can successfully get the remote IP address.

Have you try with another container to see if that work? C

[2019-06-10 07:00] ambujkhanna opened #2372 "How to call global or external function into request.onMessage function?"
I am using below code and when i am calling onMessageRender() function, so it says "this is not a function"

Calling below code in ngONinIt

`//Main function
 createSSE(){ this.request.onMessage = function (response) {
        console.log('request.onMessage trigger');
         try {
           let jsonData = JSON.parse(message);
          console.log('Normal Message JSON this.request.util', jsonDa

[2019-06-10 07:00] ambujkhanna commented on #2372
https://stackoverflow.com/questions/56352982/how-to-call-global-or-external-function-into-child-function

[2019-07-08 10:00] hvquy001 opened #2373 "How to get uuid in @Message with @ManagedService"
Hello anyone,
I want to ask how to identify which user sends the message when listening with @Message with @ManagedService?

Thanks in advance!

[2019-08-29 13:18] perssonmathias opened #2374 "No bean named 'org.atmosphere.cpr.AtmosphereConfig' available"
I recently upgraded to the latest versions of atmosphere-runtime (2.5.4) and atmosphere-spring (2.5.0) and get the following error message in the Tomcat log. Everything was working fine before the upgrade. Any ideas?

[code]

And here is the code
[code]

[2019-09-04 21:14] jfarcand commented on #2374
@perssonmathias which version were you using before?

[2019-09-06 08:04] perssonmathias commented on #2374
@jfarcand atmosphere-runtime 2.4.8 -> 2.5.4 and atmosphere-spring 2.4.21 -> 2.5.0

[2019-09-12 02:13] jarry284 commented on #2346
hi, i get the same situation when use idea via maven plugin(tomcat7:run) run the project,but use eclipse run fine. finally i found it's a idea config problem. here is the o
ption,you can hava a try.
![1568254217(1)](https://user-images.githubusercontent.com/23185962/64748747-cb31a980-d545-11e9-8e89-63eff498bb31.jpg)

[2019-09-14 00:22] jfarcand commented on #2374
Can you try 2.5.4 with atmosphere-spring 2.4.21

[2019-09-16 08:49] perssonmathias commented on #2374
@jfarcand That gets rid of this specific error. But instead I get several of these errors in the log:

SEVERE [main] org.atmosphere.inject.InjectableObjectFactory.configure

The reason for going from 2.4.21 to 2.5.0 was to get rid of this error (which it did, but replaced it with another).

[2019-09-16 10:19] jfarcand commented on #2374
@perssonmathias Can you reproduce using the Spring's sample (see atmosphere-samples git repo)

[2019-09-18 07:14] rahulmohang opened #2377 "Two licenses in the same file"
Hi,

I have seen two licenses listed in the following files in atmosphere package:

atmosphere-atmosphere-project-2.4.30.zip/atmosphere-atmosphere-project-2.4.30/modules/cpr/src/main/java/org/atmosphere/util/uri/*. They are Apache-2.0, and dual license of GPL-2.0 and CDDL-1.1. As Apache is incompatible with both GPL and CDDL, this does not look right as far as I am aware of the incompatibility top

[2019-09-18 15:26] wolfie commented on #2377
Unless I'm mistaken, I'm included here because of commit d64542a19.

Be how it may, feel free to use, license, share, distribute, copy, modify and whatever you need to do with any and all code I have contributed to Atmosphere. In other words, I don't really care what you do with my code :)

Enjoy, have fun!

[2019-09-20 05:53] rahulmohang commented on #2377
Thank you wolfie, Yes, my intention was to get you attention as I thought you were connected to this.

[2019-09-27 07:57] perssonmathias commented on #2374
@jfarcand The issue is reproducible using the Spring sample if you include atmosphere-spring as a dependency.

[2019-09-27 08:19] seamusmac commented on #2374
@jfarcand This issue should be in the extensions projects.
I did upgrade to latest of everything and noticed the same issue.

PR created at https://github.com/Atmosphere/atmosphere-extensions/pull/244

It should support Spring 3, 4 & 5

[2019-09-27 12:22] jfarcand commented on #2374
@seamusmac fixed. Thanks!

[2019-09-27 12:23] #2374 closed

[2019-09-27 21:34] rcampion opened #2378 "ReflectorServletProcessor"
ReflectorServletProcessor has an unused import that cannon be resolved with Java-12.

Maven build fails for 2.5.0.

import sun.applet.AppletClassLoader;

[2019-10-01 19:12] #2378 closed

[2019-10-01 19:13] jfarcand commented on #2378
Fixed in 2.5.5

[2019-10-04 09:21] seamusmac opened #2380 "OpenJDK 8"
I tried to upgrade to Atmosphere 2.5.5 today, but I got this error when an atmosphere connection is made.

W 10:16:11.957 [o.a.c.AtmosphereResourceImpl] [700-exec-6] [] Exception during suspend() operation java.lang.NoSuchMethodError: java.nio.ByteBuffer.flip()Ljava/nio/ByteBuffer;
D 10:16:11.957 [o.a.c.AtmosphereResourceImpl] [700-exec-6] []
java.lang.NoSuchMethodError: java.nio.ByteBuffer.flip()

[2019-10-04 11:02] jfarcand commented on #2380
Strange...Are you using Oracle JDK or OpenJDK?

[2019-10-04 12:11] seamusmac commented on #2380
I tried with
AdoptOpenJDK jdk-8.0.222.10
&
Oracle jdk1.8.0_191

Both gave the same  error

[2019-10-04 12:13] seamusmac commented on #2380
V. similar issue if you google, eg https://github.com/hazelcast/hazelcast/issues/14214

[2019-10-04 12:16] seamusmac commented on #2380
Hmm, if you look at the Travis log it says javac 9.0.1

0.01s$ java -Xmx32m -version
openjdk version "1.8.0_141"
OpenJDK Runtime Environment (build 1.8.0_141-8u141-b15-3~14.04-b15)
OpenJDK 64-Bit Server VM (build 25.141-b15, mixed mode)
$ javac -J-Xmx32m -version
javac 9.0.1

[2019-10-07 12:36] jfarcand commented on #2380
Just tested with
[code]

and everything works as expected.

[2019-10-08 14:09] cthiebaud opened #2382 "org.atmosphere::atmosphere-project::2.5.6 not published on maven central"
maven error : "Failed to collect dependencies at org.atmosphere:atmosphere-runtime:jar:2.5.6: Failed to read artifact descriptor for org.atmosphere:atmosphere-runtime:jar:2.5.6: Could not find artifact org.atmosphere:atmosphere-project:pom:2.5.6"

Seems that org.atmosphere:atmosphere-project:pom:2.5.6 is not on maven central :

https://search.maven.org/search?q=g:org.atmosphere%20AND%20a:atmospher

[2019-10-16 10:18] jfarcand commented on #2382
Fixed the issue in `2.5.8`

[2019-10-16 10:18] #2382 closed

[2019-10-16 10:48] jfarcand commented on #2380
@seamusmac I'm still puzzled about this issue. I was able to reproduce it (with 2.5.8) but still unclear how to fix it. For sure it happens when I cut release, but I do use jdk8/javac8. Digging

[2019-10-16 10:57] #2380 closed

[2019-10-16 22:59] #2377 closed

[2019-10-28 17:37] #2373 closed

[2019-10-28 17:38] #2372 closed

[2019-11-08 16:09] basisbit commented on #1212
how does this comply with GDPR and similar other legal stuff which requires one to ask / inform the user first? @jfarcand
Sadly, http://async-io.org/ also does not contain any details about what data is tracked / stored and son on.

[2019-11-08 20:34] jfarcand commented on #1212
@basisbit https://github.com/Atmosphere/atmosphere/blob/atmosphere-2.5.x/modules/cpr/src/main/java/org/atmosphere/cpr/ApplicationConfig.java#L831

[2019-11-18 20:56] alexkau opened #2383 "DefaultBroadcaster calls toString() unnecessarily on every notification"
At the start of DefaultBroadcaster.deliverPush(), Atmosphere calls `String prevMessage = deliver.message.toString();`, and at the end of the function, calls `deliver.message = prevMessage;`.

This was originally added in [this commit from 2010](https://github.com/Atmosphere/atmosphere/commit/abaa9eebdd01ed4f26180477f8c96f61f124657f), and as far as I can tell the logic hasn't changed since. Unfortu

[2019-11-18 22:09] jfarcand commented on #2383
@alexkau Make sense. Bring the pull request :-)

[2019-11-19 14:42] alexkau commented on #2383
Done! https://github.com/Atmosphere/atmosphere/pull/2384

[2019-11-20 19:16] #2383 closed

[2019-11-25 16:22] MichalChomo opened #2385 "java.lang.NoSuchMethodError: java.nio.ByteBuffer.clear()"
**Atmosphere version: 2.5.9**
**Nettosphere version: 3.1.1**
**Netty version: 4.1.43.Final**

Tested on OpenJDK 8 and Oracle Java 8:
[code]
[code]

I am getting:

[code]

when using Websocket and trying to close `AtmosphereResource`.

There already was an [issue](https://github.com/Atmosphere/atmosphere/issues/2380) with ByteBuffer, fixed by [this commit](https://github.com/Atmosphere/atmosphere/c

[2019-11-27 16:08] StacyMader opened #2387 "Long polling POST produces "received an empty body""
Deployment: Atmosphere 2.5.4 on Tomcat 8.0.49 server. After a server disconnect, Atmosphere degrades to long-polling (from websocket), but unable to POST messages, but GET (i.e., receives new messages) works fine.

```1312272 [http-nio-8080-exec-1] WARN org.atmosphere.config.managed.ManagedAtmosphereHandler - AtmosphereRequest{ method=POST contextPath=/HOME servletPath=/async pathInfo=/message req

[2019-11-28 14:54] jfarcand commented on #2385
Merged, thanks. I will cut a new release asap

[2019-11-28 16:13] jfarcand commented on #2385
Release done. Thanks again!

[2019-11-29 08:52] MichalChomo commented on #2385
Hi, thanks for looking at this. Is the PR really merged? I still see it as Open.

[2019-11-29 17:56] #2385 closed

[2019-12-09 13:02] ggaborg opened #2389 "in DefaultBroadcaster.lookup() the call to store.getId() is made twice but once should be enough"
if (unique && store.get(id) != null) {
                throw new IllegalStateException("Broadcaster already exists " + id + ". Use BroadcasterFactory.lookup instead");
            }
T b = (T) store.get(id);

could be written:

T b = (T) store.get(id);
if (unique && b != null) {
                throw new IllegalStateException("Broadcaster already exists " + id + ". Use BroadcasterFactory.lookup ins

[2019-12-09 13:23] ggaborg opened #2390 "in DefaultBroadcaster.lookup() the synchronized(c) block should be avoided"
In DefaultBroadcaster.lookup() the synchronized(c) block can be avoided for specific combinations of
'createIfNull' and 'unique' parameters.

For example if 'createIfNull' is false and 'unique' is false the implementation can be reduced to something simple without any syncronized(c) block, e.g:

            T b = (T) store.get(id);
            logger.trace("Looking in the store using {} returned {

[2019-12-09 14:23] jfarcand commented on #2390
@ggaborg Please file pull request

[2019-12-09 20:56] jfarcand commented on #2389
@ggaborg Good catch. Just do a pull request and I will integrate (and cut) a new release

[2019-12-09 20:57] jfarcand commented on #2387
@StacyMader Have you found the issue?

[2019-12-10 00:01] StacyMader commented on #2387
Hi @jfarcand

No, not yet, though it may be related to this: https://github.com/Atmosphere/atmosphere/issues/1459

When connection to the server is lost, fallback/long-polling is activated, but we are unable to send a message using long-polling, with the message below.

We will try a few things and get back to you.

BTW, we are using runtime-2.5.9 / Tomcat 8.0.49 / Apache 2.4.10.

109368 [http-nio

[2019-12-10 11:32] #2389 closed

[2019-12-10 11:32] #2390 closed

[2019-12-11 01:36] pas-dag opened #2392 "Adding heartbeat listener fails due to different instance of AtmosphereResource with same uuid"
I am attempting to add a heartbeat listener to every new `AtmosphereResource` created in my application, and running into trouble. I have a class that implements `AtmosphereHandler` annotated with `AtmosphereHandlerService`, and in the `onRequest` method, I've added several event listeners to the resource. However, when the heartbeat triggers, it logs the message,
`TRACE o.a.cpr.AtmosphereResource

[2019-12-11 11:24] jfarcand commented on #2392
Which transport are you using? Any unit test that I could play with?

[2019-12-11 17:51] pas-dag commented on #2392
It's using websocket transport. I'll try to create a minimal demonstration of the problem to share.

[2019-12-11 22:31] pas-dag commented on #2392
Here's a repo with a tiny app that demonstrates the problem. Not exactly a unit test, but hopefully this will let you see the issue.

https://github.com/pas-dag/websocket-demo

[2020-01-04 15:24] huajingze opened #2393 "How to get the websocket close code with atmosphere.js"
Our project use atmosphere.js , now I could get the response code is 200 from the "onClose" function.
Request.onClose(Response) {}

how to get the specified close code from the onClose function, such as 1000 or 1001. Because I need to recoginze whether the browser close the websocket or the server side close the websocket.
Thanks much.

``
case 1000:
reason = "Normal closure; the connection succes

[2020-01-06 11:33] jfarcand commented on #2393
@huajingze Not supported, but would be easy to add this feature -> https://github.com/Atmosphere/atmosphere-javascript/blob/master/modules/javascript/src/main/webapp/javascript/atmosphere.js#L1485

[2020-01-16 08:53] chuongnv2019 opened #2394 "SpringBoot/Stomp not work"
Dear atmosphere team

I have been trying to implement Stomp with spring Boot . ( base on springboot example and stomp example)

It thrown message:

`
2020-01-16 14:24:56.385  WARN 2014 --- [io-8080-exec-10] o.a.stomp.handler.HandlerHelper          : No handler found for destination /destination-2

 java.lang.IllegalArgumentException: null

at org.atmosphere.stomp.handler.HandlerHelper.callHandler(

[2020-01-17 02:40] chuongnv2019 commented on #2394
I have reasearched in source code,
When I run application by SpringBoot, It does automate call init our ServletContainerInitializer

When I run on Normal Servlet web container, this ServletContainerInitializer has started, But when run on SpringBoot, that was not called .

please give any suggestion, I would like to run my appication by SpringBoot

regards

[2020-01-17 11:44] densp opened #2396 "Cookies Are not Available with Handshake Request on Tomcat 9.0.27 (Spring Boot 2 Application)"
When WebSocket connection is established to Spring Boot 2 application, org.atmosphere.container.JSR356Endpoint does NOT properly handle request cookies.
As a result AtmosphereRequest does not contain cookies at all although cookies are available in the request header...

It looks as if the problem is at org/atmosphere/container/JSR356Endpoint.java:218:
`            List<String> cookieHeaders = han

[2020-01-19 23:45] #2396 closed

[2020-01-21 15:03] StacyMader opened #2397 "WebSocketHandlerService does not honour removeSessionTimeout via web.xml"
Atmosphere 2.5.13
Tomcat 8.5.47

Using the WebSocketChat example (websocket only, @WebSocketHandlerService), the web.xml file below does not remove the HttpSession timeout, although it is reported that HttpSession support is flagged as true when the app starts up:

[code]

However, looking at the session in the Tomcat server, the expiry time is not set to -1, but whatever is set in the session-con

[2020-01-24 10:08] azolotko opened #2398 "[Tomcat 7.0.x] Outbound connection not closed on WebSocketException"
Atmosphere uses `WebSocketException` to wrap exceptions occurred in `DefaultWebSocketProcessor`: https://github.com/Atmosphere/atmosphere/blob/atmosphere-2.5.x/modules/cpr/src/main/java/org/atmosphere/websocket/DefaultWebSocketProcessor.java#L577

`WebSocketException` extends `java.lang.Exception`: https://github.com/Atmosphere/atmosphere/blob/atmosphere-2.5.x/modules/cpr/src/main/java/org/atmosph

[2020-01-24 10:36] azolotko commented on #2398
Giving it more thought, we have control over what to do in our `onError` handler and can do the right thing in our code,

[2020-01-24 10:36] #2398 closed

[2020-01-26 10:31] StacyMader commented on #2397
Adding in the following interceptors fixed the issue:

`interceptors = {AtmosphereResourceLifecycleInterceptor.class, TrackMessageSizeInterceptor.class, HeartbeatInterceptor.class},
 	`

[2020-01-26 10:31] #2397 closed

[2020-01-29 03:11] StacyMader commented on #2387
This was due to a misconfiguration of the servlet, which did not capture /fallback for long-polling.

[2020-01-29 03:11] #2387 closed

[2020-02-11 16:13] saadgit opened #2401 "Not possible to disable BROADCASTER_SHARABLE_THREAD_POOLS"
Setting "false" value of **BROADCASTER_SHARABLE_THREAD_POOLS** has no effect on Broadcaster Thread pools. I have 3 broadcasters and I dont want them to share the thread pool. The configuration value is either set from the default value of
`sharedThreadPools=true; // in AtmosphereFramework.java`
or checked too late in the
`

        AtmosphereFramework init() {

                ...

[2020-02-12 12:54] saadgit commented on #2401
Although the config doesnt work as expected, but I was able to set SharedThreadPools to false via some changes in servlet bean

       @Configuration
       public class WebsocketConfig {
              @Bean
               public ServletRegistrationBean atmosphereServlet() {
                       AtmosphereServlet servlet = new AtmosphereServlet();
                       AtmosphereFramework frame

[2020-02-13 08:52] StacyMader opened #2402 "Atmosphere uses "polling" to issue a close when not configured via transport/fallbackTransport"
When there is a network outage, we've noticed Atmosphere issues a close statement using the "polling" method. In our configuration, we have set transport = websocket and fallbackTransport = long-polling, so it is not clear why "polling" is used:

[code]

The issue is our reverse proxy setup (Apache frontend, Tomcat backend) detects the header string "polling" and cannot be redirected, resulting in

[2020-02-19 11:07] jfarcand commented on #2402
@StacyMader That's the default behavior. Have you found a solution ?

[2020-02-19 11:07] #2402 closed

[2020-02-20 00:40] StacyMader commented on #2402
@jfarcand , yes we have, thank you.

With our Apache frontend, we now use a RewriteRule to direct websocket traffic to ws:// , and all other traffic such as long-polling or polling to http://

[2020-02-28 00:51] cle-beep opened #2403 "There are several CVEs in the project dependencies"
Hi, I noticed that your project are using vulnerable libraries which are related to some CVEs. To prevent potential security risks it may cause, I suggest to update the library dependency. See below for more details:
* **Vulnerable Library Version:** ch.qos.logback : logback-classic : 1.1.2
  **CVE ID:** [CVE-2017-5929](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-5929)
  **Import Path:

[2020-02-28 14:23] objectorientedperson opened #2404 "Cannot create private chat between 2 users only"
Hi,

Thanks for the great repository. I am trying to create a simple chat room which can have 2 users at most at the same time. The documentation has everything - but doesn't point out how to create a private room simply it explains sort of everything and kinda confusing when it comes to which class/method to use.

Currently I am developing on kotlin and here is what I got so far:

[code]

When I

[2020-04-28 13:59] jfarcand opened #2405 "Possible NPE in OnDisconnectInterceptor"
[code]

[2020-04-28 14:00] #2405 closed

[2020-05-06 20:55] jfarcand opened #2406 "Possible NPE in OnDisconnectInterceptor.configure"
[code]

[2020-05-06 20:55] #2406 closed

[2020-05-11 13:10] jfarcand opened #2407 "BroadcasterLifecycle IDLE_XXX not working as expected"
IDLE, IDLE_RESUME and IDLE_DESTROY must destroy the broadcaster event if some resources are connected.

[2020-05-11 14:20] jfarcand commented on #2407
Fixed by b5d4c9ac269235db4c55ee882b9e1d530858db6b

[2020-05-11 14:20] #2407 closed

[2020-05-11 21:20] stg-callcomm opened #2408 "The clientHeartbeats can be used to keep to reset the broadcaster idle timeout"
Raising as RFE
---------------------

The clientHearBeats can be considered as an event for the broadcaster and use to reset the idle lifecycle time in this way we might not have to send a periodical message to the server to keep the websocket resource and broadcaster alive.

[2020-05-14 13:33] jfarcand opened #2409 "Utils.injectWith throws NullPointerException"
[code]

[2020-05-20 00:16] #2409 closed

[2020-06-18 14:17] SuperPat45 commented on #2039
Hello,

Using Wildfly, I finally succeeded in activating compression after a half day of work:
First, You need to enable per-message-deflate in wildfly/standalone/configuration/standalone.xml:

[code]

But it is not sufficient as undertow does not enable this extension in manually created Endpoints...
So you need to patch the JSR356AsyncSupport to force extensions like this:

[code]

[2020-06-19 19:28] mpetzold opened #2413 "NPE related to WebSocket with Vaadin / Atmosphere"
**Atmosphere version**

2.4.30.slf4jvaadin1

**Vaadin version**

14.2.1 (also with 14.2.0)

**Jetty version**

9.4.30 (did not occur with Jetty 9.4.26)

**Java version**

openjdk version "11.0.6" 2020-01-14
OpenJDK Runtime Environment (build 11.0.6+10-post-Debian-1deb10u1)
OpenJDK 64-Bit Server VM (build 11.0.6+10-post-Debian-1deb10u1, mixed mode, sharing)

**OS type/version**

Linux

**Descriptio

[2020-06-20 15:04] jfarcand commented on #2413
Hi, please file the issue in Vaadin, not Atmosphere as they have a fork of the code. It may have also been fixed in a more recent version of Atmosphere

[2020-06-20 15:04] #2413 closed

[2020-06-20 16:39] mpetzold commented on #2413
https://github.com/vaadin/flow/issues/8591
and
https://github.com/eclipse/jetty.project/issues/4985

[2020-06-25 15:02] jfarcand opened #2414 "Improve error handling when loading classes from META-INF/services"

[2020-06-25 15:04] #2414 closed

[2020-07-15 08:32] Bing-ok opened #2415 "“NoSuchMethodErrors” due to multiple versions of org.eclipse.jetty:jetty-http:jar"
Hi, there are multiple versions of <b><i>org.eclipse.jetty:jetty-http</i></b> in <b><i>atmosphere-atmosphere-project-2.6.1\modules\cpr</i></b>. As shown in the following dependency tree, according to Maven's “nearest wins” strategy, only <b><i>org.eclipse.jetty:jetty-http:9.3.19.v20170502</i></b> can be loaded, <b><i>org.eclipse.jetty:jetty-http:7.6.9.v20130131</i></b> will be shadowed.

As <b><i>

[2020-07-15 08:36] Bing-ok commented on #2415
Could you help me review this issue? 👍 Thanks! @jfarcand

[2020-07-28 21:36] jfarcand commented on #2415
@Bing-ok Could you please do a pull request? That way I will be able to merge faster.

[2020-08-19 09:41] itgabrut opened #2417 "Content-Type header + Spring mvc 5"
Hi all,

I was trying to run Atmosphere (2.5.12) + Spring MVC (5.2.8) but encountered a certain problem.

Since some Spring release an AbstractMessageConverterMethodProcessor class, writeWithMessageConverters method has started to check response header 'Content-Type' rather then 'Accept' header of a request in order to find appropriate message converter.

Problem is that Atmosphere Framework set C

[2020-08-24 22:12] jfarcand commented on #2417
@itgabrut Can you try with 2.6.1? The default is now configurable.

[2020-08-26 14:00] itgabrut commented on #2417
Unfortunately I've found that it maybe was not merged to 2.6.1
You can check here
[github.com/Atmosphere/atmosphere/blob/atmosphere-2.2.x/modules/cpr/src/main/java/org/atmosphere/cpr/AtmosphereFramework.java](https://github.com/Atmosphere/atmosphere/blob/atmosphere-2.2.x/modules/cpr/src/main/java/org/atmosphere/cpr/AtmosphereFramework.java)
It contains following code:
` String contentType = config

[2020-08-27 12:49] Bing-ok commented on #2415
Thanks for your support!

[2020-08-27 12:49] #2415 closed

[2020-09-01 08:45] itgabrut opened #2418 "Atmosphere JSR356 + Spring mvc 5 NPE while debug log level is enabled for Spring MVC"
While using Atmosphere JSR 356 endpoint there is possibility to use   ReflectorServletProcessor as atmosphereHandler, which forwards request to a DispatcherServlet. JSR endpoint path in this case the same as servlet path.
(It uses URL pattern from web.xml)
`    <servlet-mapping>`
      `  <servlet-name>spring-mvc</servlet-name>`
      `  <url-pattern>/</url-pattern>`
  `  </servlet-mapping>`

Spri

[2020-09-01 11:01] itgabrut opened #2419 "Unable to deploy websocket example app. on glassfish 4/5"
I am trying to deploy Atmosphere example application:
[https://mvnrepository.com/artifact/org.atmosphere.samples/atmosphere-spring-websocket/2.5.13](https://mvnrepository.com/artifact/org.atmosphere.samples/atmosphere-spring-websocket/2.5.13)

It seems that application gets initialized twice.
Once from WebModule -> CallServletContainerInitializer
Second time from WebModule -> loadOnStartup -> init

[2020-09-06 15:44] jfarcand commented on #2418
@itgabrut Pull request more than welcomed :-)

[2020-09-06 15:46] jfarcand commented on #2417
@itgabrut Thanks for the analysis. Can you do a pull request? I will cut a release ASAP after to accommodate you.

[2020-09-21 08:00] Chinese-Xu opened #2421 "Time delay between chrome and atmosphere"
The message have been broadcast from java code to chrome by web-socket.

The issue is when the frequency of broadcast more and more higher (40+ message / s), the message seems be hold in a queue in atmosphere.  The time stamp when broadcast are fine, but chrome revive message more and more delay, event several minutes.

Before I combine more message into one to reduce the number of message in one

[2020-09-21 20:38] jfarcand commented on #2421
@Chinese-Xu Please share a test case on Github demonstrating the issue. I am not aware of such issue.

[2020-09-21 20:39] jfarcand commented on #2419
@itgabrut Please share a test case on Github demonstrating the issue. I am not aware of such issue. Make sure you are using latest version of Atmosphere :-)

[2020-09-21 20:39] #2419 closed

[2020-09-21 20:40] #2421 closed

[2020-09-21 20:41] jfarcand commented on #2392
Fixed in 2.6.2+

[2020-09-21 20:41] #2392 closed

[2020-09-21 20:43] #2201 closed

[2020-09-21 20:44] #2404 closed

[2020-09-22 19:02] #2281 closed

[2020-09-22 19:08] #2418 closed

[2020-09-22 19:21] #2417 closed

[2020-09-24 15:25] inad9300 opened #2422 "Missing documentation for onOpenAfterResume"
I've noticed that some events don't appear in the documentation, e.g. `onOpenAfterResume()`. Did I overlook something? Is there a summary with an exhaustive list of events and their descriptions?

[2020-09-24 22:50] StacyMader commented on #2422
I would have thought the apidocs would help, but they seem to be for v2.4.8?

http://async-io.org/apidocs/

[2020-10-02 18:10] SreecharanChallagundla commented on #2188
Hello Abannany,

Didn't you any solution to this problem...

Thanks

[2020-10-05 13:43] JRSofty opened #2423 "Missing Licensing information"
There is no listed license for this project. According to maven earlier versions of this were licensed under CDDL 1.0 but the link connecting the project to the license is dead as java.net is now closed.

Could you please provide an appropriate licensing link to this project?

[2020-10-06 12:55] jfarcand commented on #2423
For an unknown reason, the license has been deleted from the working branch, but was still present master:

https://github.com/Atmosphere/atmosphere/tree/master/license

Fixed

[2020-10-06 12:55] #2423 closed

[2020-10-26 14:22] hieplq opened #2424 "atmosphere-runtime from 2.6.x has osgi manifest import org.testng"
**Describe the bug**
atmosphere-runtime from 2.6.x has osgi manifest import org.testng and javax.jnlp
it look not good when binary request test framework

**Atmosphere Info**
  - version 2.6.x

[2020-11-05 14:02] sjainatadb opened #2425 "Need help in injecting bean in Atmosphere"
Hi,
I'm experimenting with using Atmosphere for WebSockets to be used for our existing application which uses CXF framework. Since I could not find a way to get a callback on WebSocket Connect in CXF, I implemented _WebSocketProtocol_ I have existing beans which I need to inject in this class, but the Injected bean is always null. I want to see an example how to do it, but couldn't find any. Any h

[2021-01-14 12:05] lexmi0412 commented on #1052
The issue still exists. We are using Atmosphere 2.6.1 and sometimes we get the same.

The issue is thrown when we try to get the request from the AtmosphereResource from our custom Broadcastfilter.

java.lang.IllegalStateException: Request object no longer valid. This object has been cancelled
	at org.atmosphere.cpr.AtmosphereResourceImpl.getRequest(AtmosphereResourceImpl.java:422) ~[atmosphere-ru

[2021-01-18 17:33] tessSnap opened #2426 ".net core SingnalR client"
Hello,
Is it possible to connect to Atmosphere Server from a .net SignalR Client ? We tried using SignalR and this is the error

System.IO.InvalidDataException: 'Invalid negotiation response received.'

[2021-01-20 21:48] jfarcand commented on #2426
Yes, it is. I suspect the issue is on your side. Can you share some piece of code via github?

[2021-01-20 21:48] #2426 closed

[2021-02-05 13:15] mvysny opened #2427 "NullPointerException in JSR356Endpoint.onOpen(JSR356Endpoint.java:129)"
**Describe the bug**
Atmosphere fails with NullPointerException in JSR356Endpoint.onOpen():

[code]

Upon debugging it can be seen that `handshakeHeaders` is null, which suggests the reason why NPE is thrown.

The `handshakeHeaders` is populated in `JSR356Endpoint.handshakeRequest()` which is in turn called by `AtmosphereConfigurator.modifyHandshake()` or `AtmosphereConfigurator.getEndpointInstanc

[2021-02-05 14:09] mvysny commented on #2427
Placing breakpoints into `getEndpointInstance()` and `modifyHandshake()` and logging the current thread will yield the following order and log output for Undertow+VertX+Quarkus:

[code]

This means two things:
1. The "Glassfish" workaround needs to apply to Undertow as well, since the calls are reversed as well
2. The threads are completely different every time the function is invoked, hence the T

[2021-02-08 15:22] mvysny commented on #2427
I've patched the `JSR356AsyncSupportPatch.AtmosphereConfigurator` to store the current request in a `BlockingDeque` rather than in a ThreadLocal. Please find the class below:

[code]

[2021-02-23 06:45] devslam opened #2428 "Setting attachHeadersAsQueryString flag to False breaks long polling"
**Describe the bug**
I'm creating a socket with long polling and it works when the `attachHeadersAsQueryString` flag is set `True`. However, it breaks when the `attachHeadersAsQueryString` flag is set `True`. It sends a request once and does not poll again.

I suspect it's because we're not sending in the `?X-Atmosphere-Transport=long-polling` query parameter when the flag is set to `False`
**Atmo

[2021-02-26 13:27] jfarcand commented on #2427
@mvysny Sorry for the delay. Can you do a pull request?

[2021-02-26 13:29] jfarcand commented on #2428
@devslam Are you able to reproduce with the latest version of Atmosphere? 2.4 is old...

[2021-02-26 13:31] #2425 closed

[2021-02-27 11:38] devslam commented on #2428
I'll try it. Though shouldn't I be trying to reproduce it with the latest version of the JS library?

[2021-03-03 16:43] mvysny commented on #2427
No problem :) However, I think it's best to only use this workaround when running on Quarkus, to not to hinder existing servers (for which the workaround works well) :thinking: @jfarcand what do you think?

[2021-03-05 09:37] devslam commented on #2428
I'm able to reproduce this with Atmosphere 2.6.4 and Atmosphere.js 3.0.6

[2021-03-11 02:18] jfarcand commented on #2427
@mvysny I think we can detect if we are running on Quarkus and do the appropriate work

[2021-03-11 02:19] jfarcand commented on #2427
@mvysny I think we can detect if we are running on Quarkus and do the appropriate work

[2021-03-18 13:15] jfarcand commented on #2427
@mvysny Any update for the patch? Let me know if you have the cycle to produce it, and I will complete the implementation

[2021-03-18 13:54] mvysny commented on #2427
Sorry for the delay; I'll try to work on a PR today evening :+1:

[2021-03-18 15:01] mvysny commented on #2427
PR: https://github.com/Atmosphere/atmosphere/pull/2429

[2021-03-18 17:27] kad3nce opened #2430 "Usage example for WebSocketPingPongListener?"
I would like to add ping pongs to our Atmosphere deployment. I found the WebSocketPingPongListener, but not documentation or examples on how to use it, so I'm a little lost.

Our current socket handling class looks thus:

[code]

How would I integrate the pingpong listener?

[2021-03-30 13:52] #2427 closed

[2021-04-02 16:50] jfarcand opened #2431 "Relax websocket disconnect detection for code 1005"
In order to support `navigator.sendBeacon` when atmosphere protocol is used and `navigator.setBeacon` is invoked, we must relax the way status code are handled by the `WebSocketProcessor` in order to prevent double disconnect detection.

[2021-04-02 17:37] #2431 closed

[2021-04-25 20:10] supertick opened #2433 "Question onReconnect"
Hello,
Reading through the API Doc it says
[code]
In practice it really seems to be "when the client **_begins trying_** to reconnect to the server"
If the JS client does eventually "reconnect" there does not appear to be any callback for that event. (ie. onReconnected)

I would think the use case is pretty straight forward:
1. js client opens a connection - does some complicated logic
2. connecti

[2021-04-25 20:10] supertick opened #2434 "Question onReconnect"
Hello,
Reading through the API Doc it says
[code]
In practice it really seems to be "when the client **_begins trying_** to reconnect to the server"
If the JS client does eventually "reconnect" there does not appear to be any callback for that event. (ie. onReconnected)

I would think the use case is pretty straight forward:
1. js client opens a connection - does some complicated logic
2. connecti

[2021-04-26 12:48] jfarcand commented on #2434
Duplicate of #2433

[2021-04-26 12:48] #2434 closed

[2021-04-26 23:28] jfarcand commented on #2434
@supertick Use `onReopen` no? https://github.com/Atmosphere/atmosphere/wiki/Understanding-JavaScript-functions

[2021-04-26 23:28] jfarcand commented on #2433
@supertick Use `onReopen` no? https://github.com/Atmosphere/atmosphere/wiki/Understanding-JavaScript-functions

[2021-04-26 23:28] #2433 closed

[2021-04-28 12:23] TatuLund opened #2435 "Packet loss is possible in long polling mode when stressed"
We have seen some hard to replicate cases amongst users of Vaadin 8 framework, were packet loss is happening. Vaadin is fallback mechanism to resync in these cases, but that can also fail. After this user is forced to refresh the page.

A potential culprit is that UUIDBroadcasterCache is lossing messages when stressed by multiple threads as it is singleton (i.e. multiple http sessions / requests)

[2021-04-28 14:29] SuperPat45 opened #2436 "Push message are not processed randomly"
**Describe the bug**
I have the same bug described in #1822.
After doing a remote debug, I see the `dispatchThread` variable of the class `DefaultBroadcaster` is set on 1, but as I don't log trace messages, so I don't know if they were an interruption and why.

My question is are there any reason why we not call `dispatchThread.decrementAndGet()` before all the `return` of this method?
This will p

[2021-04-28 22:30] jfarcand commented on #2436
@SuperPat45 Thanks as usual. Can you do a pull request with your solution? I will work on it from there

[2021-04-29 19:00] #2436 closed

[2021-05-06 22:10] #2435 closed

[2021-05-10 19:48] fcorneli opened #2438 "AtmosphereResourceEventListener no longer called"
AtmosphereResourceEventListener.onDisconnect is no longer called.

**Atmosphere Info**
  - Atmosphere Framework 2.7.1
  - atmosphere.js version 3.1.0

**Expected behavior**
Via my `@ManagedService` I register an `AtmosphereResourceEventListener` on the `AtmosphereResource` during `onOpen`.
When the web browser navigates away from the web socket page, the `AtmosphereResourceEventListener.onDisconne

[2021-05-14 15:23] jfarcand commented on #2438
@fcorneli Can you share a test case? Which version of Atmosphere works? Thanks

[2021-05-17 08:00] fcorneli commented on #2438
Hi @jfarcand. It used to work on Atmosphere version 2.6.4. As for the test case, we use an embedded Netty with the following configuration:
[code]

And within `OurManagedService` we have:
[code]

On `OurAtmosphereResourceEventListener` the following method is no longer invoked after a disconnect:
[code]

So it's a straightforward setup I guess.
Could this be related to https://github.com/Atmospher

[2021-05-17 12:04] jfarcand commented on #2438
@fcorneli Thanks. Can you set the property `org.atmosphere.websocket.WebSocketProtocol.allow1005disconnectEvent` to `true` and see if that fixes the issue?

[2021-05-18 10:10] fcorneli commented on #2438
Tried it. No difference. Weird thing is that using Chrome, I do get the following:
[code]
but using Safari, I don't. When I navigate away from the page using Safari, I do get the following noise:
[code]
but that's it.

[2021-05-18 15:03] jfarcand commented on #2438
@fcorneli OK thanks. If you can share a test case that would speed up the fix. I will take a look ASAP

[2021-05-28 19:06] castortech opened #2439 "Release Build fails with Invalid “self-closing element not allowed”"
building Atmosphere with:
 mvn -Prelease-profile clean install

Fails with:

A clear and concise description of what the bug is.
Invalid “self-closing element not allowed”

Googling shows that is a restriction on Java 8+ being more stringent on using correct tags

Was able to get it working by adding:
<doclint>none</doclint>

to configuration section of maven-javadoc-plugin as described [here](htt

[2021-05-31 17:55] jfarcand commented on #2439
@castortech Pull request welcomed :)

[2021-06-09 18:23] sennew commented on #2424
Hi,

Has this issue ever been resolved in any particular release?

[2021-06-15 16:39] tedpoovey commented on #1468
Well that is TOTALLY unhelpful.  Just like the documentation.  And the arcane setup.  And all the samples don't do named broadcasters.  So yeah.  Pretty much not great here.  Horrible user experience.

[2021-06-17 12:53] jfarcand commented on #2424
@sennew waiting for a patch/pull request :-)

[2021-06-17 12:54] jfarcand commented on #2424
@sennew yes

[2021-09-25 01:05] mj9977 opened #2442 "Failed to run tsec_keygen firmware"
Booting into atmosphere from hekate gives "A fatal error occurred when running Fusee.  Failed to run tsec_keygen firmware! Press Power to reboot."

**Atmosphere Info**
  - 1.1.1
  - Hekate 5.6.2

**Expected behavior**
Expected to boot directly into atmosphere.  After message, pressing Power reboots into atmosphere and seems to run normally.

**Screenshots**
No screen shots available.

**Additional

[2021-09-25 01:17] #2442 closed

[2021-09-25 01:17] mj9977 commented on #2442
wrong git

[2021-09-30 12:02] Artur- opened #2444 "Messages lost during fallback from websocket to long polling"
**Describe the bug**
When messages are pushed and the client is downgrading from websockets to long polling, the pushed messages are lost and never delivered to the client.

This works properly with Atmosphere 2.4.30 and fails with Atmosphere 2.7.2 + Atmosphere JS 3.1.2

**Atmosphere Info**
  - version 2.7.2
  - atmosphere.js version 3.1.2

**Expected behavior**
Messages pushed during the connecti

[2021-10-02 15:29] Artur- commented on #2444
@jfarcand can you have a look at this, your email is not working

[2021-10-05 09:30] DarrMirr opened #2447 "Exception stacktrace is not logged if atmosphere interceptor crashed with runtime exception"
**Describe the bug**

There are a lot of log messages like this:
[code]

There is no exception stacktrace at log message. Therefore, error log output does not show exactly the place where error is occured.

I think there are two places  at `org.atmosphere.cpr.AsynchronousProcessor`  class where message logs incorrectly

The first one at [339 line:](https://github.com/Atmosphere/atmosphere/blob/d86

[2021-10-05 13:39] jfarcand commented on #2444
@Artur- Yes. Can you share a test case?

[2021-10-05 17:50] slovdahl commented on #2364
@jfarcand Not sure if it was intentional, but doesn't this change also mean that the whitespace padding added by `org.atmosphere.interceptor.PaddingAtmosphereInterceptor` will now have the length of the padding prefixed? Is that correctly handled by `atmosphere.js`? :thinking: Looking at https://github.com/Atmosphere/atmosphere-javascript/blob/b992083a6a927d26acbeffbae18963ad4f45c577/modules/javas

[2021-10-06 18:23] jfarcand commented on #2364
@slovdahl Not sure about this one. I would need a test case to play with it, or some logging from your internal test

[2021-10-06 18:23] #2447 closed

[2021-10-06 18:24] jfarcand opened #2450 "Add support for JDK 17"
https://github.com/Atmosphere/atmosphere/actions/runs/1313136336

[2021-10-07 20:43] zidingz opened #2451 "How to get in touch regarding a security concern"
Hey there!

I belong to an open source security research community, and a member (@srikanthprathi) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best p

[2021-10-07 21:52] #2451 closed

[2021-10-08 13:44] fcorneli commented on #2438
Will check this out. Our internal ticket for reference: 10314

[2021-10-08 15:35] #2438 closed, assigned to jfarcand

[2021-10-11 06:51] slovdahl commented on #2364
Yep, agreed. What would you think would be the proper way of solving it? :thinking: On the Java-side or on the JS-side?

[2021-10-12 12:59] jfarcand commented on #2364
I would fix it in the Java-side.

[2021-10-14 08:14] slovdahl commented on #2364
@jfarcand makes sense :+1: I opened #2452 for this purpose, please take a look when you have time.

[2021-11-09 15:09] vogella opened #2453 "Make Quarkus an optional dependency"
In the generated OSGI manifest of Atmosphere, we we that that "io.quarkus" is entered as dependency to the atmosphere.runtime. AFAICS it is just an optional dependency:

  private static final boolean IS_RUNNING_ON_QUARKUS;
    static {
        boolean runningOnQuarkus = false;
        try {
            Class.forName("io.quarkus.runtime.Quarkus");
            runningOnQuarkus = true;
        } cat

[2021-11-16 15:28] #2453 closed

[2021-11-22 22:03] tkohlman opened #2455 "Jetty 10 Runtime Error"
**Describe the bug**

ClassNotFoundException occurs with Jetty 10.

        at jdk.internal.loader.BuiltinClassLoader.loadClass(BuiltinClassLoader.java:581) ~[?:?]
        at jdk.internal.loader.ClassLoaders$AppClassLoader.loadClass(ClassLoaders.java:178) ~[?:?]
        at java.lang.ClassLoader.loadClass(ClassLoader.java:522) ~[?:?]
        at java.lang.Class.getDeclaredConstructors0(Native Method

[2021-11-22 23:28] jfarcand commented on #2455
@tkohlman yes, it is, but I suspect they have removed completely their native implementation. Are you using de `useNative` properties by any chance? An alternative is to add
[code]
in your pom.xml

[2021-11-23 07:45] tarzdorf commented on #2455
We encounter the same issue currently. What parameter is the "useNative"? Is it for the Jetty configuration?

[2021-11-23 08:55] vogella opened #2456 "Make jnlp requirement optional for OSGi"
Currently the generated OSGi manifest lists javax.jnlp as dependency, while the code specifies this as optional.

Relevant code:

[code]

I suggest to make this also optional in the manifest, as javax.jnlp.* has been removed from the Java 11. I think Webstart in general has been removed  in recent version so I will also open an additional issue for the removal of this check. This issue is only for

[2021-11-23 09:03] vogella opened #2457 "Remove usage of jnlp usage"
See also #2456.

Jnlp has been deprecated in Java 11. I think its support has completely stopped in modern versions of Java. So maybe this code could be retired?

I will try provide a PR for this removal, please decide if this should be applied.

[2021-11-23 23:28] tkohlman commented on #2455
I am using embedded jetty without a pom.xml file, and the only parameter I had set previously was the following:
`context.setInitParameter("org.atmosphere.cpr.AtmosphereInterceptor","org.atmosphere.client.TrackMessageSizeInterceptor");`

Explicitly setting useNative to false yields the same ClassNotFoundException:
`context.setInitParameter("org.atmosphere.useNative", "false");`

Attempting to forc

[2021-11-24 14:44] jfarcand commented on #2455
@tkohlman @tarzdorf I've updated the [atmosphere-samples](https://github.com/Atmosphere/atmosphere-samples/tree/updates/jetty10_jdk11) workspace to Jetty `10.0.7` and everything works as expected. Please take a look at this [sample for example](https://github.com/Atmosphere/atmosphere-samples/tree/updates/jetty10_jdk11/samples/chat) and let me know if they work for you.

[2021-11-24 14:45] jfarcand commented on #2455
@tkohlman Is https://github.com/Atmosphere/atmosphere-samples/tree/updates/jetty10_jdk11/samples/embedded-jetty-websocket-chat working for you?

[2021-11-24 17:06] #2456 closed

[2021-11-24 17:07] #2450 closed

[2021-11-24 17:27] tkohlman commented on #2455
[https://github.com/Atmosphere/atmosphere-samples/tree/updates/jetty10_jdk11/samples/embedded-jetty-websocket-chat](url) does not work for me. I see the following exception:

java.lang.NoClassDefFoundError: org/eclipse/jetty/websocket/servlet/WebSocketCreator
	at java.base/java.lang.Class.getDeclaredConstructors0(Native Method) ~[na:na]
	at java.base/java.lang.Class.privateGetDeclaredConstructors(

[2021-11-25 10:30] vogella commented on #2457
will be keept as Java 8 is still support.

[2021-11-25 10:30] #2457 closed

[2021-11-25 21:29] Alexander-Shevchenko opened #2460 "Typo "supprt" in ApplicationConfig.java comment for ENFORCE_ATMOSPHERE_VERSION"
"supprt" ➡ "support"
https://github.com/Atmosphere/atmosphere/blob/bec04d45da0f269bc8d57b3eab4bd58ebebbde4b/modules/cpr/src/main/java/org/atmosphere/cpr/ApplicationConfig.java#L757

[2021-11-30 12:44] vogella opened #2461 "org.atmosphere.jersey.util should be optional in the OSGi manifest"
AFAICS from the code org.atmosphere.jersey.util is not a mandatory requirement for the runtime module. I suggest to update the generated OSGi manifest.

[2021-11-30 18:01] #2461 closed

[2021-12-07 09:10] vogella commented on #2424
AFAICS the testng requirement for OSGI is still present in the runtime. https://github.com/Atmosphere/atmosphere/pull/2465 has been created to fix that.

[2021-12-07 09:39] vogella opened #2466 "Allow to use the servlet-version-range 4"
Currently the atmosphere runtime does not allow to use  servlet-version-range of 4.0.0. AFAIK (based on my very limited knowledge, sorry for this), the 4.0.0 uses still the same package name as the 3.x version. So maybe the version change can be adjusted to include 4 and only exclude 5 (which change the package name)?

So instead of

<servlet-version-range>[2.5,4)</servlet-version-range>

in the p

[2021-12-07 18:50] jfarcand commented on #2466
@vogella Make sense! Can you do a pull request? Thanks!

[2021-12-07 19:53] #2424 closed

[2021-12-14 18:23] tkohlman commented on #2455
I have ported the Jetty 9 support code to Jetty 10 here: https://github.com/tkohlman/atmosphere/commit/e2cb4d0a061f1b89773d3862364efedf83d23e20

- I added a null check in AtmosphereRequestImpl isAsyncStarted() because Jetty 10 calls this before onWebSocketConnect(), meaning the resource is not yet created (NullPointerException).
- I did not address auto-discovery of Jetty 10 via reflection.
- I do

[2021-12-16 10:05] slovdahl commented on #1972
As always, I'm late to the party :grin: But I just want to document my findings.

Until recently we had been using 2.2.x, but now that we upgraded to 2.7.x, it turns out that this actually caused a performance regression in some of our use cases.

Sometimes, we have a lot of (mostly WebSocket) clients connecting simultaneously (10k+), and some handshake traffic going over the wire immediately afte

[2021-12-16 15:05] jfarcand commented on #1972
@slovdahl Probably the pool is not configured properly? I means the default is probably wrong for your use case.

[2021-12-16 18:02] Artur- opened #2467 "Servlet 5 API support"
**Describe the bug**
Spring 6 is moving to [Java 17 + Servlet 5](https://spring.io/blog/2021/09/02/a-java-17-and-jakarta-ee-9-baseline-for-spring-framework-6) with the [first milestone release done](https://spring.io/blog/2021/12/16/spring-framework-6-0-m1-released). Does Atmosphere have any plans on making a new major for servlet 5?

[2021-12-16 18:40] jfarcand commented on #2455
@tkohlman Can you do a pull request and mark it as draft. That way we can collaborate on a branch together.

[2021-12-16 18:43] jfarcand commented on #2467
@Artur- Yes, I will make the appropriate change and release Atmosphere 3.0 based on it. Should be before end of January. Is that OK for you?

[2021-12-16 18:45] Artur- commented on #2467
Sounds good!

[2021-12-20 11:18] slovdahl commented on #1972
Might be yeah, but how would one configure it? :thinking: AFAICT there are no settings for the fork join pool. If `org.atmosphere.cpr.broadcaster.maxProcessingThreads` is set, a fixed pool is created instead. I guess that with a high enough number of threads set, it would similar to using a cached thread pool (one coming from `Executors.newCachedThreadPool()`).

[2021-12-20 19:11] amy-b-cheng opened #2468 "Websocket connection closing and reconnecting after upgrade"
**Describe the bug**
After I upgraded my Atmosphere version, my websocket connection continually closes and reopens every ~60s.

When I refresh the page, I see that a 101 Switching Protocols request is sent with `X-Atmosphere-Transport: websocket`. I see messages send successfully over this connection, and then I see a handful of heartbeat messages every 10s.

Then another 101 Switching Protocols

[2022-01-05 19:25] jfarcand commented on #2468
@amy-b-cheng Can you share a test case by any chance?

[2022-01-06 17:28] amy-b-cheng commented on #2468
@jfarcand Hi, unfortunately I can't share too many specifics about my application but I did some investigating and I found [this change](https://github.com/Atmosphere/atmosphere/compare/atmosphere-project-2.5.15...atmosphere-project-2.6.0#diff-bdbb29403dc693807ab47591ccfa632a3790cc0751cf72b0ece5082b3eb22e19L81) in LifecycleHandler.java that seems to be a change in behavior between 2.5 and 2.6.

Si

[2022-01-07 14:02] jfarcand commented on #2468
@amy-b-cheng I did that https://github.com/Atmosphere/atmosphere/issues/2407 but I suspect I'm missed some case. Go for a PR and I will cut a new 2.7.x official release.

[2022-01-07 14:18] jfarcand commented on #2468
@amy-b-cheng The more I read about it the more I think the current implementation is right: https://github.com/Atmosphere/atmosphere/blob/75f568553bfb38f2c1f411eb0e636b85e117277f/modules/cpr/src/main/java/org/atmosphere/cpr/BroadcasterLifeCyclePolicy.java#L38
[code]

What you probably need is EMPTY_DESTROY I think. Can you confirm?

[2022-01-13 16:34] amy-b-cheng commented on #2468
@jfarcand I believe you are right about the correct usage of IDLE_DESTROY. I tried out using EMPTY_DESTROY, which fixes the disconnecting problem, but does not work when my application is in long polling mode and the resources become empty.

So there are 2 behaviors I want here:
1) if there are subscribers to a broadcaster (i.e. non empty resources), I don't want it to be destroyed, even if it is

[2022-01-18 14:13] jfarcand commented on #2468
Exactly! @amy-b-cheng Do you have time to implement it? I could review and release it after!

[2022-01-20 20:13] amy-b-cheng commented on #2468
@jfarcand see the PR I just opened / let me know what I need to add to it!

[2022-01-21 12:37] jfarcand commented on #2468
Support added in 2.7.4! Thanks for the contribution!!!!!

[2022-01-21 12:37] #2468 closed

[2022-01-21 22:17] jfarcand commented on #2468
@amy-b-cheng It should be available right now

[2022-01-24 23:44] sherryyur commented on #2468
Hi, @amy-b-cheng

I know this is all sorted, but I am just curious how you were able to see the heartbeat from your end. I am assuming it's on browser Network tab. I configured my setting as 10s heartbeat and I saw the sever log said its 10s as well, but I never saw it from the browser. On client js request option, did you set the heartbeat option?

I am currently expericing a disconnecting issue

[2022-01-25 03:05] amy-b-cheng commented on #2468
Hi,

Yes, I am able to see my heartbeat in Google Chrome by going to Network ->
hit the "WS" button, for websockets -> there should be something under the
"Name" column that is a websocket connection, click on that -> hit the
"Messages" column and you should see a bunch of rows that are the websocket
messages -> for me, every 10s a message appears that looks like "1|X" and
that's the heartbeat

Le

[2022-01-30 23:37] rofrance commented on #2455
Hi all,
I am also having the same issues that @tkohlman reported one year ago. I am running latest Atmosphere 2.7.4 and Jetty 10.0.7 and was wondering if there is anything specific that I need to do to avoid the error:

`javax.servlet.ServletException: java.lang.NoClassDefFoundError: org/eclipse/jetty/websocket/servlet/WebSocketCreator
 	at org.atmosphere.cpr.AtmosphereFramework.init(AtmosphereFra

[2022-02-01 19:22] #2455 closed

[2022-02-01 19:23] jfarcand commented on #2455
@rofrance @tkohlman Fixed in 2.7.5

[2022-02-01 19:24] #2466 closed

[2022-02-01 22:51] rofrance commented on #2455
Thanks for replying and fixing this so quickly @jfarcand ! I'll test the new version as soon as possible and let you know how it goes.

[2022-02-02 08:47] tarzdorf commented on #2455
Thanks for the Fix. We will also try the new version then with Jetty 10.

[2022-02-03 19:26] jfarcand commented on #2467
atmosphere-runtime-3.0.0 has been released with support for Jakarta.

[2022-02-03 19:26] #2467 closed

[2022-02-08 17:24] #2460 closed

[2022-02-08 17:26] #2364 closed

[2022-02-08 18:24] slovdahl opened #2472 "Jetty 9 deflate extension and potential memory leak"
## Background

Jetty 9 defaults to supporting e.g. the `permessage-deflate` and `x-webkit-deflate-frame` `Sec-WebSocket-Extensions`. Historically, Java code using classes like `java.util.zip.Deflater` have been suspectible to native memory leaks, and especially if Java 8 is used. To this date, it's unclear if all these issues have been fully solved in Java 8. See e.g. these for bug reports related

[2022-02-08 19:44] slovdahl commented on #2472
It didn't take long after summarizing the effort this far until I realized there might be one workaround: a servlet filter that removes the deflate extensions from the header in incoming WebSocket handshakes. Will try this first.

[2022-02-08 22:08] jfarcand commented on #2472
@slovdahl I like your proposal with `ApplicationConfig`. Go for it and I can review and release `2.7.6`

[2022-02-09 11:31] slovdahl commented on #2472
It's might be a bit early to judge, but we deployed a new version with the servlet filter where extensions are removed from the incoming handshake about 3 hours ago, and the the initial memory usage at least went down significantly, and the constant and slow increase in memory usage is not happening yet at least. So it seems like the deflate extensions were indeed the trigger in our case.

And a l

[2022-02-14 12:52] slovdahl commented on #2472
Disabling compression made quite a big difference (that was done at the rightmost peak):

![image](https://user-images.githubusercontent.com/1417619/153867055-81480321-03c6-40df-80b6-a249da418050.png)

But still using quite a bit more memory than with Jetty 8 and Atmosphere 2.2.x:

![image](https://user-images.githubusercontent.com/1417619/153867409-095db08a-1c33-4e76-a389-c5b5d09a53d0.png)

Not a

[2022-02-16 14:52] tarzdorf opened #2473 "WebSocket Handshake Fails with embedded Jetty 10 in equinox OSGi environment"
Dear Atmosphere Team,

i am currently trying to get atmosphere working in combination with Jetty 10 inside an OSGi application.
The current issue i am facing is this error message:

'ERROR WebSocketTransport WebSocket Handshake Failed'

The initial request sent to the Server is successful and processed by my implementation of the AtmosphereHandler, but it seems that  status code 200 is sent as res

[2022-02-17 12:42] jfarcand commented on #2473
@tarzdorf Can you try with wasync 3.0.0, which contains an updated version of the websocket client implementation?

[2022-02-24 09:40] tarzdorf commented on #2473
@jfarcand I upgraded to wasync 3.0.0 and all the necessary dependecies. Still i get the same Handshake error.

Now i tried to look very deep into this topic.
From what i can see the issue might be that on init phase the DefaultAsyncSupportResolver resolves to "org.jboss.netty", i.e. the class NettyCometSupport is used, which does not seem to have any Websocket related handling for Jetty.

JETTY_10

[2022-02-24 14:12] jfarcand commented on #2473
@tarzdorf Interesting. It seems you have a netty dependencies in your classpath. If you remove it it will work as expected. Atmosphere doesn't support Jetty 10 native implementation and instead use the Servlet 3.x and Websocket 1.x default implementation... that's why there is no Jetty10... classes.

[2022-03-01 07:56] tarzdorf commented on #2473
@jfarcand thanks for your advice. So i followed it and switched to the JSR365 implementation by putting javax.websocket-api 1.1 on the classpath. The resolver picked it up and used the **JSR365AsyncSupport** from that point on. So far so good.

Still i got the Handshake error. I started to debug the whole init procedure of that and i actually found the source of my problem.

The issue is now that

[2022-03-07 22:24] #2473 closed

[2022-04-11 08:33] yanyiyi-yi opened #2475 "Move class JavaScriptProtocol into package cpr"
Hi, @jfarcand

**Issue Description**

Package _org.atmosphere.interceptor_ is a promiscuous package, and groups together miscellaneous functionalities that might be useful to different subsystems. This means the cohesion between classes in the package is low. However, since the project has grown larger, this package structure is becoming increasingly hard to navigate. We found that Class _JavaScri

[2022-04-11 13:11] jfarcand commented on #2475
Hi @FanyiMeng-NEU , I need more context about this compatibility breaking change. Originally  `JavaScriptProtocol` is located under the `interceptor` package because it extends the adapter. Why is it hard to navigate right now with the current structure? If you can share a scenario where it cause "problem"? Thanks!

[2022-04-18 17:19] fymys commented on #2475
The package structure violates the “high cohesion and low coupling” design rules. The project has grown larger, leading to becoming increasingly hard to maintain. For example, if one modifies package **_org.atmosphere.cpr_** (i.e., package rename), and forget to change class **_JavaScriptProtocol_** during the maintenance process, there are indirect consequences for the class **_JavaScriptProtocol

[2022-04-19 12:34] jfarcand commented on #2475
@fymys Why would you rename the package? Sorry for asking so many questions but I don't understand your goal here? What are you doing exactly with Atmosphere (give me some context). Since the `JavaScriptProtocol` is exposed publicly, renaming it will break existing implementation of Atmosphere no?

[2022-04-25 12:57] fymys commented on #2475
Sorry for getting back to you late.
During the development process, one groups together classes (that often co-change) with similar functionalities in one package to facilitate maintenance, which prevents a change that causes other packages to be modified, such as modifying package **_org.atmosphere.cpr_**, resulting in class **_JavaScriptProtocol_** to be changed.
I just provide the suggestions f

[2022-05-09 14:11] nopainsnogains12 commented on #2455
@jfarcand
We are also using Atmosphere and we are using 2.7.6 (upgraded from 2.4.32) now with Jetty10 upgraded from Jetty 9.4. I can confirm that the original "ClassNotFoundException" issue has been solved. Thanks a lot!
But, we have another issue which is that the websocket functionality is NOT working anymore from Atmosphere with the log "**Websocket protocol not supported (CLS=o.a.cpr.Asynchron

[2022-05-09 14:31] nopainsnogains12 opened #2477 "Websocket protocol not supported (CLS=o.a.cpr.AsynchronousProcessor) is raised in Atmosphere logs while using Jetty 10.0.9"
**Describe the bug**
Using atmosphere version 2.7.6 with Jetty 10.0.9, we encountered problem as shown in the log "Websocket protocol not supported (CLS=o.a.cpr.AsynchronousProcessor)" while trying to establish websocket connection to our server. According to our quick check, it looks that the PR change https://github.com/tkohlman/atmosphere/commit/e2cb4d0a061f1b89773d3862364efedf83d23e20 prepared

[2022-05-09 15:53] jfarcand commented on #2477
@nopainsnogains12 I will need a test case to reproduce it.  I do have a working sample with Jetty 10 available here https://github.com/Atmosphere/atmosphere-samples/tree/updates/jetty10_jdk11/samples/chat

[2022-05-09 17:23] jfarcand commented on #2477
@nopainsnogains12 Jetty10 supports is via `org.atmosphere.container.Servlet30CometSupport` so the issue is not there. As for the support you are requesting, you need to buy some professionnal service via https://www.async-io.org/subscription.html unless you can share a test case. I recommend you take a look at the sample and try to reproduce your issue out of it. Thanks!

[2022-05-10 03:24] nopainsnogains12 commented on #2477
@jfarcand Thanks for your quick reply again!
If Jetty10 support is via org.atmosphere.container.Servlet30CometSupport, in which the inherited supportWebSocket() is "false", does that mean atmosphere does NOT support websocket anymore for Jetty 10? If this is the case, it is breaking the backward compatibility which is exactly what we encountered now.

[2022-05-10 11:29] jfarcand commented on #2477
@nopainsnogains12 It does supports it. Like I said the sample (link above) is demonstrating that Jetty 10 and Jety 11 are supported. Take a look at the sample and try to reproduce your issue via a test case so I can quickly take a look and fix as needed.

[2022-05-10 11:37] jfarcand commented on #2477
<img width="2030" alt="image" src="https://user-images.githubusercontent.com/51285/167619937-e9b4b0b6-9035-40b5-a8ca-8ba4a890850a.png">

[2022-05-10 12:29] nopainsnogains12 commented on #2477
@jfarcand  thanks for your reply.
1. the sample code page is NOT availalbe for the moment with 404 HTTP Response code
2. Anyway, I checked the sample codes yesterday and it is NOT the same flow as we used and discussed in this case. In our case, we are using org.atmosphere.cpr.MeteorServlet and turn to it for auto-detect the asyncSupport (instance of AsynchronousProcessor) needed to be used accord

[2022-05-10 13:54] jfarcand commented on #2477
@nopainsnogains12 `JSR356AsyncSupport` is the one that will be installed. Again, share a test case so I can see what is wrong. Thanks!

[2022-05-10 14:15] jfarcand opened #2478 "Jetty 9.4+/10 is throwing and exception when javax.session.Session.addMessageHandler(MessageHandler handler) is called"
[code]

[2022-05-10 14:37] jfarcand commented on #2478
Not an issue, a regression added to 2.7.7-SNAPSHOT

[2022-05-10 14:37] #2478 closed

[2022-05-10 15:12] jfarcand commented on #2477
@nopainsnogains12 Take a look at `https://github.com/Atmosphere/atmosphere-samples/tree/updates/jdk11`. This one works with 10.0.9.  No idea about your exception

[2022-05-10 15:12] jfarcand commented on #2477
I'm closing the issue, but let's continue discussing

[2022-05-10 16:56] jfarcand commented on #2477
samples/chat

[2022-05-11 04:02] nopainsnogains12 commented on #2477
@jfarcand
Thanks for your comments. But samples/chat does NOT have any jetty involvement. Not sure it is relevant with our topic at all.....
By the way, I found that "samples/embedded-jetty-websocket-chat" is using embedded jetty websocket but it can NOT pass the compilation. Do you have a working sample with this? Thanks in advance!

[2022-07-02 00:56] alvintanjianjia opened #2479 "Potential Refactoring Estimate"
**Summary**
I have identified a few classes with refactoring potential along with its estimated time to refactor, specifically AbstractJetty9AsyncSupportWithWebSocket.java. The estimated time is based on historical commits containing refactoring and the complexity of the involved classes. The class was refactored once on May 16, 2017 along with other classes in commit 9fd3d45c01b0c52d57ddfb6664eb6

[2022-08-02 08:19] Jozef4481 commented on #2477
I have similar problem. I've tried two versions of Jetty/Atmosphere.

With JDK 11 I tried two configurations:
Jetty 10.0.11 and atmosphere-runtime-2.7.7
Jetty 11.0.11 and atmosphere-runtime-3.0.2

There is no compilation problem.

Problem is in this part of code:

			final ClientUpgradeRequest request = new ClientUpgradeRequest();
			client.connect(socket, echoUri, request).get();

	where
	client

[2022-08-02 12:26] jfarcand commented on #2477
@Jozef4481 Share a test case on Github so I can reproduce. Like I said the sample works fine.

[2022-08-04 13:00] jfarcand commented on #2477
@Jozef4481 I'm not using Eclipse :-) Can you make the test use Maven instead? Thanks!

[2022-08-08 12:50] Jozef4481 commented on #2477
[jetty-10-testcase-maven.zip](https://github.com/Atmosphere/atmosphere/files/9281769/jetty-10-testcase-maven.zip)

I added maven project.

I run it with:

clean compile exec:java -Dexec.mainClass="com.siemens.condis.opal_gateway.Gateway" -Dexec.args="conf/opal-gateway.properties"

Please ignore slf4j error at the beginning. (java.lang.AbstractMethodError: Receiver class org.slf4j.simple.SimpleServ

[2022-08-11 15:39] jfarcand commented on #2477
@nopainsnogains12 I will take a look today. You can take a look at https://github.com/Atmosphere/atmosphere-samples/tree/updates/jdk11/samples/chat which is the sample I'm using to test. It works well with Jetty 10

[2022-08-11 20:24] jfarcand commented on #2477
@nopainsnogains12 I'm not sure I understand what you are trying to do. You seems to use jsr356 and Atmosphere at the same time, and Atmosphere is not configured to support websocket as you can see in your log
[code]

[2022-08-11 20:32] jfarcand commented on #2477
The real exception if you let Atmosphere starts with websocket
[code]

[2022-08-12 07:20] Jozef4481 commented on #2477
OK, original code working with Jetty 9.4 and Atmosphere 2.6.4 was only:
	private void addAtmosphereServlet(final ServletContextHandler context, final String path) {
		**context.addServlet(new ServletHolder(new AtmosphereServlet()), path + "/*");**
	}

There was no other configuration, and it was working.

I think default configuration with new Jetty 10 and Atmosphere 2.7.7. was with Servlet30Comet

[2022-08-12 12:44] jfarcand commented on #2477
@nopainsnogains12 Like I said in the thread, the sample works as expected with Jetty 10/11 so I won't spend more time on your code. I just think you need to bootstrap Atmosphere properly and remove your jsr356 code as it will conflict for sure.

[2022-08-12 12:44] #2477 closed

[2022-08-12 14:39] Jozef4481 commented on #2477
Ok, don't spend time with my code and lets look to example [embedded-jetty-websocket-chat](https://github.com/Atmosphere/atmosphere-samples/tree/updates/jdk11/samples/embedded-jetty-websocket-chat)

There is in class org.atmosphere.samples.chat.Main code:

        ServletHolder atmosphereServletHolder = new ServletHolder(AtmosphereServlet.class);

        atmosphereServletHolder.setInitParameter(A

[2022-08-12 15:20] Jozef4481 commented on #2477
One more thing, compiled class Jetty9AsyncSupportWithWebSocket$1.class contains:

org/atmosphere/container/**Jetty9AsyncSupportWithWebSocket$1** 9org/eclipse/jetty/websocket/server/WebSocketServerFactory java/io/IOException 8org/atmosphere/container/Jetty9AsyncSupportWithWebSocket ((Lorg/atmosphere/cpr/AtmosphereConfig;)V R(Ljavax/servlet/ServletContext;Lorg/eclipse/jetty/websocket/api/WebSo

[2022-08-23 21:03] rofrance commented on #2455
Hi @jfarcand ,

I finally had time to test the latest version of atmosphere 2.x (2.7.7) with Jetty 10.0.11 and I am getting the "WARN :oac.AsynchronousProcessor:qtp2115628016-27: Websocket protocol not supported" message that @nopainsnogains12 is also seeing. Atmosphere is currently only working in long polling for me.

Would it be possible to fix it? Could it be related to some configuration or i

[2022-09-02 04:55] nopainsnogains12 commented on #2455
@tkohlman @tarzdorf @rofrance @jfarcand
Dear All, just for your information, after struggling longer without actual progress with Atmosphere, and as already communicated above in my original thread as well, it is obviously that the Jetty 10 is NOT supported in Atmosphere 2.7.7 the same way as it was for Jetty 9.x in Atmosphere 2.4.*. Finally, our project can NOT afford to keep waiting for the no-d

[2022-09-06 22:35] jfarcand commented on #2455
@nopainsnogains12 @rofrance Sorry I was on vacation :-) That's sad you were not able to make it work. Like I've said I am using the Atmosphere's chat sample and everything works as expected -> https://github.com/Atmosphere/atmosphere-samples/tree/updates/jetty10_jdk11/samples/chat . @rofrance if you can share a test/sample that demonstrate the issue, I will take a look.

[2022-09-19 15:12] byteit101 opened #2480 "SSE doesn't output error bodies, just spaces"
**Describe the bug**
SSE transport doesn't allow error bodies to be written, unlike other transports:

(Full source based on samples used in the curl requests is at https://gist.github.com/byteit101/63c5fe645cbfa7e2222948bd77e72d51 )

[code]

**Atmosphere Info**
  - version 2.7.7

**Expected behavior**
long-polling (actual, correct):
[code]
SSE (theoretical response):

[code]

**Actual behavior**

[2022-09-27 10:05] repbl444 opened #2481 "Compress JSON messages with atmosphere"
Hello, I use atmosphere with spring in tomcat
I need to compress  JSON messages, because they have a big weight, but first time I looked at atmosphere request header, I saw
some values like there was already a default compression :"Accept-Encoding: gzip, deflate, br",
Is it the the default way to have a message compression or maybe some configuration trick?

**Atmosphere Info**
  - atmosphere vers

[2022-09-28 08:20] #2481 closed

[2022-10-19 09:49] repbl444 opened #2482 "Compression websocket messages"
Hello guys, I am trying to find a solution for compression websocket messages, if you can help, it will be very nice
  - atmosphere version 2.7.6
  - atmosphere.js 3.1.3

I want to find a way to compress messages I have in Json formats, cause they are huge,
For investigating I used meteor-chat sample and spring-boot-chat-atmosphere-sample
I found an issue about this with a link [https://github.com

[2022-10-19 12:28] jfarcand commented on #2482
@repbl444 can you share a simple test cas on Github?

[2022-10-24 11:42] jfarcand commented on #2482
@repbl444 Salut. I don't have time right now to take a look, but I suspect you need to use Nettosphere if you want to use compression with Atmosphere. I haven't implemented the support for other server.  Sorry! I will be happy to integrate your work if you take the Atmosphere code and implement it.

[2022-10-25 14:43] repbl444 commented on #2482
Got it, thank you

[2022-11-02 11:46] repbl444 commented on #2482
Can you give me some hints please which classes/configurations needs to be changed in atmosphere to support compression with glassfish? Thanks in advance.

[2022-11-03 12:51] jfarcand commented on #2482
@repbl444 Just write an [AtmosphereInterceptor](https://github.com/Atmosphere/atmosphere/wiki/Understanding-AtmosphereInterceptor) and check when the transport is websocket, compress it using an open source library.

[2022-11-07 13:39] Artur- opened #2483 "Provide runtime hints for Spring Boot 3 native applications"
Spring Boot 3 native applications require compile time definitions of which reflection data needs to be available at runtime. Atmosphere could provide this info for its own classes by adding a `RuntimeHintsRegistrar`.

An example registrar I have tested basic functionality with looks like this (certainly incomplete):
[code]

[2022-11-07 15:54] jfarcand commented on #2483
@Artur- Thanks! Will work on it.

[2022-11-08 06:38] sanushchacko commented on #2467
The atmosphere-spring module is still using "javax.servlet".
As the Spring framework 6.0.0-RC3 is already released to support Jakarta 3.0, when can we expect a new artifact for atmosphere-spring to support "jakarta.servlet"?.

[2022-11-08 06:51] sanushchacko opened #2484 "Support atmosphere-spring for Jakarta 3.0 jakarta.servlet"
The atmosphere-spring module is still using "javax.servlet".
As the Spring framework 6.0.0-RC3 is already released to support Jakarta 3.0, when can we expect a new artifact for atmosphere-spring to support "jakarta.servlet"?.

Please note that atmosphere-runtime is already supporting Jakarta 3.0 https://github.com/Atmosphere/atmosphere/issues/2467

[2022-11-08 15:28] jfarcand commented on #2484
@sanushchacko If you have the cycle, feel free to produce a pull request. I will merge and do the release.

[2022-11-10 11:37] repbl444 commented on #2482
Hello, thank you for hints. Now I use atmosphere http streaming instead of websocket with a gzip compression. It needs only a configuration in a server.
`xml<Connector port="8080" protocol="HTTP/1.1"
               connectionTimeout="20000"
               redirectPort="8443"
			   compression="on"
			   compressionMinSize="1024"
			   compressableMimeType="text/html,text/plain,text/css,application

[2022-11-23 10:06] chrisormad commented on #2484
@jfarcand

The spring GA release for the version 6 is done. The jars are available in maven central repository.
[code]
The latest atmosphere-spring (2.6.5) is still using import "javax.servlet.*". So the projects using atmosphere are blocked from updating to spring 6 release.

Can you please inform, is there any plan to provide a release for atmosphere-spring which uses import "jakarta.servlet.*".